extends ../../layouts/default

block content
	.ui.page.grid
		.ui.grid.segment
			.row
				.sixteen.wide.column.error-content
					h1!='Not found (404)'
					p.lead!='If you found this page, you probably know what it means. Good luck on your travels :)'

					p: a(href='/').ui.button.chef.button-green= __('Return home')
