extends ../../layouts/default

block content
	.ui.page.grid
		.ui.grid.segment
			.row
				.sixteen.wide.column.error-content
					h1.page-header-heading!='Error (500)'
					p.lead.page-header-lead!='Sorry, the server encountered an error.<br><br>Please try again shortly, or contact us if the problem continues.'

					p: a(href='/').ui.button.chef.button-green= __('Return home')
