extends ../layouts/default

block content
	#recipe-of-day.ui.page.grid.segment
		.sixteen.wide.column

	#search-bar.ui.page.grid.segment
		.sixteen.wide.column
			.ui.form
				.field
					.ui.icon.input
						input(type='text', placeholder='Escribe aquí lo que buscas')
						i.search.icon

	#grid.ui.page.grid.segment
		.sixteen.wide.column

	#video-of-day.ui.page.grid.segment
		.sixteen.wide.column
