extends ../layouts/default

block content
	#recipe-of-day.ui.page.grid.segment
		.sixteen.wide.column

	#search-bar.ui.page.grid.segment
		.sixteen.wide.column
			.ui.form
				.field
					.ui.icon.input
						input(type='text', placeholder='Escribe aquí lo que buscas')
						i.search.icon

	#grid.ui.page.grid.segment
		.sixteen.wide.column

	#video.ui.page.grid.segment
		.row 
			.sixteen.wide.column
				iframe(width = '100%', height = 'auto', src='//www.youtube.com/embed/50fY8bhEzY0', frameborder='0')


	#video-recipes.ui.page.grid.segment
		.row
			.four.wide.column
				img.ui.rounded.image(src = 'http://mimundo.philips.es/wp-content/uploads/2012/09/masa_pizza_robot_amasador_philips.jpg')

			.twelve.wide.column
				.ui.twelve.column
					| Valoración
					.ui.header Masa de pizza crujiente
					| But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness
