extends ../layouts/default

block css
	link(href="frontend/styles/site.min.css", rel="stylesheet")

	//- This file provides the default styling for the KeystoneJS Content Editor
	if user && user.canAccessKeystone
		link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

	//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	//- Safely remove this block if you are not targeting IE8
	//-[if lt IE 9]
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
	//-[endif]

block js
	//- JAVASCRIPT
	script(src='/packages/jquery/dist/jquery.min.js')
	script(src='/packages/jquery-address/src/jquery.address.js')
	script(src='/packages/semantic-ui/build/packaged/javascript/semantic.js')

	script(src='/frontend/js/main.js')

	//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
	//- which generate links to edit content for users who can access Keystone
	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')

block content
	#recipe.ui.grid.segment
		.ui.page.grid
			.row
				include ../components/header

			.row
				.four.wide.column

				.logo.eight.wide.column
					i.icon-chef-logo.icon

			.row
				.social.five.wide.column
					| Síguenos en redes sociales
					.ui.four.column.center.aligned.grid
						.column
							a.ui.item(href='http://twitter.com')
								.ui.icon
									i.icon-chef-twitter.icon
						.column
							a.ui.item(href='http://youtube.es')
								.ui.icon
									i.icon-chef-google.icon
						.column
							a.ui.item(href='http://facebook.com')
								.ui.icon
									i.icon-chef-facebook.icon
						.column
							a.ui.item(href='http://pinterest.es')
								.ui.icon
									i.icon-chef-pinterest.icon

				.three.wide.column

				.title.eight.wide.column
					img.ui.image(src = '../frontend/images/test_recipe.png')
					.text
						.span Lasagna del chef

	.ui.page.grid

		#search-bar.ui.grid.segment
			.row
				.ui.form
					.field
						.ui.icon.input
							input(type='text', placeholder='Escribe aquí lo que buscas')
							i.icon-chef-lupa.icon

		//- #grid.ui.page.grid.segment


		#video.ui.grid.segment
			.row

			.row
				.six.wide.column
				.logo.four.wide.column
					img.ui.image.play(src = '../frontend/images/test_play.png')

			.row
				.eight.wide.column
				.title.eight.wide.column
					img.ui.image(src = '../frontend/images/test_video_recipe.png')
					.text
						.span Lasagna del chef
					.date
						.span 13 Mayo de 2014



		#video-recipes.ui.grid.segment
			- for (var row = 0; row < 4; row++)
				.row
					.four.wide.column
						.thumbnail
							.row

							.row
								.ui.three.column.center.aligned.grid
									.column
									.column
										img.ui.image.play(src = '../frontend/images/test_play.png')
									.column

							.row
								.ui.three.column.center.aligned.grid
									.column
										i.icon-chef-time.icon
										.span 2 h

									.column
										i.icon-chef-porciones.icon
										.span 4

									.ranking.column
										i.icon-chef-tenedor.icon.on
										i.icon-chef-tenedor.icon.on
										i.icon-chef-tenedor.icon.off
										i.icon-chef-tenedor.icon.off
										i.icon-chef-tenedor.icon.off

					.twelve.wide.column
						.ui.twelve.column
							.pre-header
								.strong Valoración:
								.span
									.ui.icon
										i.star.large.icon.on
										i.star.large.icon.on
										i.star.large.icon.off
										i.star.large.icon.off
										i.star.large.icon.off

							h2.ui.header Masa de pizza crujiente
							.ui.content But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness
