extends ../layouts/default

include ../mixins/header
include ../mixins/grid

block content
	+header(data.header, section)

	.ui.page.grid.body

		include ../components/search

		#index-grid.ui.grid.segment.wall
			.row.computer.only
				+grid(data.grid, data.order.grid_order_desktop_home, data.sizes.grid_size_desktop_home)

			.row.tablet.only
				+grid(data.grid, data.order.grid_order_tablet_home, data.sizes.grid_size_tablet_home)

			.row.mobile.only
				+grid(data.grid, data.order.grid_order_mobile_home, data.sizes.grid_size_mobile_home)


		#video.ui.grid.segment
			.row

			.row
				.six.wide.column
				.logo.four.wide.column
					img.ui.image.play(src = '/images/test_play.png')

			.row
				.eight.wide.column
				.title.eight.wide.column
					img.ui.image(src = '/images/test_video_recipe.png')
					.text
						.span Lasagna del chef
					.date
						.span 13 Mayo de 2014

		#video-recipes.list.ui.grid.segment
			- for (var row = 0; row < 5; row++)
				.row
					.five.wide.column
						.thumbnail
							.row

							.row
								.ui.three.column.center.aligned.grid
									.column
									.column
										img.ui.image.play(src = '/images/test_play.png')
									.column

							.row
								.ui.three.column.center.aligned.grid
									.column
										i.icon-chef-time.icon
										.span 2 h

									.column
										i.icon-chef-porciones.icon
										.span 4

									.difficulty.column
										i.icon-chef-tenedor.icon.on
										i.icon-chef-tenedor.icon.on
										i.icon-chef-tenedor.icon.off
										i.icon-chef-tenedor.icon.off
										i.icon-chef-tenedor.icon.off

					.eleven.wide.column
						.ui.twelve.column
							.rating
								.strong= __('Rating')
								.span
									.ui.icon
										i.icon-chef-star.icon.on
										i.icon-chef-star.icon.on
										i.icon-chef-star.icon.off
										i.icon-chef-star.icon.off
										i.icon-chef-star.icon.off

							h2.ui.header Masa de pizza crujiente
							.ui.content But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness
