extends ../layouts/default

include ../mixins/recipe

block content
	#signup.ui.grid.segment
		.ui.page.grid
			.row

			.row
				.four.wide.column

				.logo.eight.wide.column
					a.icon-chef-logo.icon(href="/")

					.span Acceso
					.span Fácil y rápido

			.row
				.sixteen.wide.column

					.ui.two.column.grid
						.column.center.aligned
							.explain
								.span Accede con tus redes sociales...

							.actions
								.ui.button.chef.button-fb
									a(href='') Acceso con Facebook
									i.icon-chef-facebook

								.ui.button.chef.button-g
									a(href='') Acceso con Google
									i.icon-chef-google

						.column
							.explain
								.span ...o con tu correo electrónico
							form(action='registro', method='post')
								.ui.form
									#email.field
										label(for='login_email') Correo electrónico
										.ui.left.labeled.input
											input(id='login_email', type='email', name='signup_email', placeholder='Correo electrónico')
											.indicator.hidden
												.icon-chef-error
										.ui.error.message
											.header We noticed some issues

									#password.field
										label(for='login_password') Contraseña
										#wrapper-password.ui.left.labeled.input
											input(id='login_password', type='password', name='signup_password', autocomplete='off')
											.indicator.hidden
												.icon-chef-error

										.ui.error.message
												.header We noticed some issues

									input(type='hidden', name='action', value='login')

									button.ui.button.chef.button-blue(type='submit') Acceder
