extends ../layouts/default

include ../mixins/recipe

block content
	#login.signin.ui.grid.segment
		.ui.page.grid.head
			.row.logo
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title Acceso
				.subtitle Entra y disfruta

		.ui.page.grid.body
			.row
				.sixteen.wide.column
					.ui.two.column.grid
						.column.center.aligned.group
							.explain.right Accede con tus redes sociales...

							include ../components/signin-social

						.column.dashed.group
							.explain.left ...o con tu correo electrónico

							include ../components/login-local
		.ui.page.grid.body
			.row.tail
				.sixteen.wide.column
					.link
						| ¿Todavía no tienes cuenta? 
						a(href='/registro') Regístrate
