extends ../layouts/default

include ../mixins/recipe

block content
	#login.signin.ui.grid.segment
		.ui.page.grid
			.row

			.row
				.four.wide.column

				.logo.eight.wide.column
					a.icon-chef-logo.icon(href="/")

					.span.title Acceso
					.span.subtitle Fácil y rápido

			.row
				.sixteen.wide.column

					.ui.two.column.grid
						.column.center.aligned
							.explain.right
								.span Accede con tus redes sociales...

							.actions
								.ui.button.chef.button-fb
									i.social.icon-chef-facebook
									a(href='')
										span.social-reg Acceder con
										| Facebook

								.ui.button.chef.button-g
									i.social.icon-chef-google
									a(href='')
										span.social-reg Acceder con
										| Google

						.column.dashed
							.explain.left
								.span ...o con tu correo electrónico
							#form
								form(action='acceso', method='post', novalidate)
									.ui.form
										#email.field(class=(errors.fields.email ? "error-here" : ""))
											label(for='login-email') Correo electrónico
											.ui.left.labeled.input
												input(id='login-email', type='email', name='login_email', value='#{form.signup_email||""}', placeholder='Correo electrónico')
												//- .indicator.hidden
													.icon-chef-error
											.error-message
												.span Tiene que tener formato de correo electrónico.

										#password.field(class=(errors.fields.password ? "error-here" : ""))
											label(for='login-password') Contraseña
											#wrapper-password.ui.left.labeled.input
												input(id='login-password', type='password', name='login_password')
												//- .indicator.hidden
													.icon-chef-error

											.error-message
												.span Mínimo 8 caracteres, letras, números, símbolos.

										input(type='hidden', name='action', value='login')

										button.ui.button.chef.button-blue(type='submit') Acceder
