extends ../layouts/default

include ../mixins/header

include ../mixins/menu-recipe

block vars
  - bodyClasses.push('no-editor-borders')

block js
  script(src='/js/menu.js')

  if config
    script.
      window.chef.editor.config = !{JSON.stringify(config)};

  if isNew
    script.
      $(document).ready(function(){
        console.log('Ready');
        window.chef.setEditableModeOn();

        // Overwrite cancell function
        $('#cancel.button-manage').off().on('click', function() {
          window.location.href ='/menus';
        });
      });

  //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
  //- which generate links to edit content for users who can access Keystone
  if user && user.canAccessKeystone
    script(src='/keystone/js/content/editor.js')

block content

  if own
    input#hidden-title(type='hidden' name='title')
    input#hidden-description(type='hidden' name='description')
    input#hidden-plates(type='hidden' name='plates')
    input(type='hidden' name='_csrf' value='#{csrftoken}')

  +header(data, section)

  #menu-content.ui.page.grid

    #menu-description.row
      .sixteen.wide.column
        .explain
          .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.menu.description

  #menu-recipes.ui.page.grid
    .row
      .ui.grid.segment.list.stackable
        if data.menu.plates.length
          each recipe,i in data.menu.plates
            +menu-recipe(recipe,i)
        else
          .empty-resultset.sixteen.wide.column= __('No recipes yet')