extends ../layouts/default

include ../mixins/header

block js
  script(src='/js/newsletter.js')

block content

  +header(data, section)

  #newsletter-content
    .ui.page.grid.bg-grey
      .sixteen.wide.column
        h2.title.header.uppercase!= __('Newsletter {{action}}', { action: data.action })
    .ui.page.grid
      .ui.grid.segment
        .row
          .sixteen.wide.column.error-content

            if data.action === 'unsubscribe'
              .explain
                != __('{{email}}, are you sure you want to ' + data.action + '?', { email: data.email })

              .newsletter-actions
                a#unsubscribe(data-url='/api/v1/notifications/'+ data.email + '/' + data.token + '/' + data.action + '/newsletter').ui.button.chef.button-green= __('Confirm')
                a(href='/').ui.button.chef.button-green= __('Return home')

              #newsletter-subscribe
                .explain
                  = __('If you want to give us a second chance')
                a(href='/newsletter/'+ data.email + '/' + data.token + '/subscribe', style='margin: 0 0 30px;')= __('Subscribe')

            if data.action === 'subscribe'
              .explain
                != __('{{email}} has been ' + data.action + ' successfully', { email: data.email })

              .newsletter-actions
                a(href='/').ui.button.chef.button-green= __('Return home')
