extends ../layouts/default

include ../mixins/recipe

block content
	#profile.ui.grid.segment(style="background-image: url(#{user.media.header.url}) ")
		.ui.page.grid
			.row
				include ../components/header

			.row.logo.shadow
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title.shadow Mi recetario

			.row
				.twelve.wide.column

				.social.four.wide.column
					.ui.button.chef.button-gray
						i.social.icon-chef-camera
						a(href='/') Cambiar imagen