extends ../layouts/default

include ../mixins/about

block content
	.ui.grid.segment.user-profile(style="background-image: url(#{user.media.header.url}); background-size: cover;")
		.ui.page.grid.head.with-title
			#header.row
				include ../components/header

			.row.logo.shadow
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title.shadow Mi recetario

			.row
				.ten.wide.column

				.six.wide.column.social.right.aligned
					.ui.button.chef.button-gray.show-editable
						i.social.icon-chef-camera
						a(href='/') Cambiar imagen

	.ui.page.grid.segment.body.about
		.column
			.ui.stackable.grid
				+about(user)

	.ui.page.grid.segment.body
		.row.tablet.computer.only
			.five.tabs
				.row
					.tab
						.ui.button.chef.button-green
							a(href='/') Mi cuenta
					.tab
						.ui.button.chef.button-green.disabled
							a Lista del super
					.tab
						.ui.button.chef.button-green.disabled
							a Mis recetas
					.tab
						.ui.button.chef.button-green.disabled
							a Mis menús
					.tab
						.ui.button.chef.button-green.disabled
							a Mis tips

		.row
			#profile.column.tab-content

				.row
					.two.column.stackable.ui.grid
						.column
							#user-name.field
								.explain Nombre de usuario
								.input!= user.username

						.column
							#email.field
								.explain Correo electrónico
								.input!= user.email

				.row
					.column
						#password.field
							.ui.button.chef.button-brick
								a(href='/') Cambiar password

				.row
					.column
						#private.field
							.icon-chef-tick.checks
							label.explain ¿Quieres que tu perfil sea privado?