extends ../layouts/default

include ../mixins/recipe

block content
	#recipe.ui.grid.segment
		.ui.page.grid.head
			.row
				include ../components/header

			.row.logo.shadow
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title.shadow Recetas

			.row
				.social.five.wide.column
					| Síguenos en redes sociales
					.ui.four.column.center.aligned.grid
						.column
							a.ui.item(href='http://twitter.com')
								.ui.icon
									i.icon-chef-twitter.icon
						.column
							a.ui.item(href='http://youtube.es')
								.ui.icon
									i.icon-chef-google.icon
						.column
							a.ui.item(href='http://facebook.com')
								.ui.icon
									i.icon-chef-facebook.icon
						.column
							a.ui.item(href='http://pinterest.es')
								.ui.icon
									i.icon-chef-pinterest.icon

				.three.wide.column

				.img-title.eight.wide.column
					img.ui.image(src = '../frontend/images/test_recipe.png')
					.text
						.span Lasagna del chef

	.ui.page.grid.body

		include ../components/search

		#add-new-bar.ui.grid.segment
			.row
				.sixteen.wide.column
					.span ¿ Tienes una receta en mente?
						.ui.button.chef.button-brick
							a(href='/') Crear receta


		#recipes.ui.grid.segment.two.tabs
			.row
				.tab
					.ui.button.chef.button-green
						a(href='/recetas') Populares
				.tab
					.ui.button.chef.button-green.disabled
						a Temporada

			.row
				.ui.grid.segment.list
					if data.recipes.results.length
						each recipe in data.recipes.results
							.row
								+recipe(recipe)
					else
						| No recipes yet.

			.row.loader
				.sixteen.wide.column
					.span Cargando más recetas...
