extends ../layouts/default

include ../mixins/header
//include ../mixins/search-result


block js
  script(src='/js/search.js')


block content
  +header(data, section)

  .ui.page.grid.body

    include ../components/search


    #search.row
      .sixteen.wide.column.center.aligned

    #results.ui.grid.segment
      .row
        .ui.grid.segment.list.stackable

      .row
        .loader
          .sixteen.wide.column.loading= __('Loading more recipes')
          .sixteen.wide.column.load-more
            .ui.button.chef.button-brick.load-button
              a(href="#")= __('Load more')

      .row
        .empty-resultset.sixteen.wide.column= __('No results')