extends ../layouts/default

include ../mixins/recipe

block css
	link(href="frontend/styles/site.css", rel="stylesheet")

	//- This file provides the default styling for the KeystoneJS Content Editor
	if user && user.canAccessKeystone
		link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

	//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	//- Safely remove this block if you are not targeting IE8
	//-[if lt IE 9]
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
	//-[endif]

block js
	//- JAVASCRIPT
	script(src='/packages/jquery/dist/jquery.min.js')
	script(src='/packages/jquery-address/src/jquery.address.js')
	script(src='/packages/semantic-ui/build/packaged/javascript/semantic.js')

	script(src='/frontend/js/main.js')
	script(src='/frontend/js/signup.js')

	//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
	//- which generate links to edit content for users who can access Keystone
	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')

block content
	#signup.ui.grid.segment
		.ui.page.grid
			.row

			.row
				.four.wide.column

				.logo.eight.wide.column
					a.icon-chef-logo.icon(href="/")

					.span.title Registro
					.span.subtitle Fácil y rápido

			.row
				.sixteen.wide.column

					.ui.two.column.grid
						.column.center.aligned
							.explain
								.span Registrate con tus redes sociales...

							.actions
								.ui.button.chef.button-fb
									a(href='') Registro con Facebook
									i.icon-chef-facebook

								.ui.button.chef.button-g
									a(href='') Registro con Google
									i.icon-chef-google

						.column
							.explain
								.span ...o con tu correo electrónico
							form(action='registro', method='post')
								.ui.form
									#username.field
										label(for='signup_name') Nombre de usuario
										.ui.left.labeled.input
											input(id='signup_name', type='text', name='signup_name', placeholder='Nombre de usuario')
											.indicator.hidden
												.icon-chef-error
										.ui.error.message
											.header We noticed some issues

									#email.field
										label(for='signup_email') Correo electrónico
										.ui.left.labeled.input
											input(id='signup_email', type='email', name='signup_email', placeholder='Correo electrónico')
											.indicator.hidden
												.icon-chef-error
										.ui.error.message
											.header We noticed some issues

									#password.field
										label(for='signup_password') Contraseña
										#wrapper-password.ui.left.labeled.input
											input(id='signup_password', type='password', name='signup_password', autocomplete='off')
											.indicator.hidden
												.icon-chef-error

											#wrapper-show-password.ui.labeled.checkbox
												input(id='show_password', type='checkbox', name='show_password')
												label(for='show_password') Mostrar

										.ui.error.message
												.header We noticed some issues

									input(type='hidden', name='action', value='signup')

									button.ui.button.chef.button-blue(type='submit') Registro