extends ../layouts/default

block content
	#signup.signin.ui.grid.segment
		.ui.page.grid.head
			.row.logo
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title Registro
				.subtitle Es fácil y rápido

		.ui.page.grid.body
			.row
				.sixteen.wide.column
					.ui.two.column.grid
						.column.center.aligned.group
							.explain.right Regístrate con tus redes sociales

							include ../components/signin-social

						.column.group.dashed
							.explain.left ...o con tu correo electrónico

							include ../components/signup-local
		.ui.page.grid.tail
			.row
				.sixteen.wide.column
					.link
						| ¿Ya estás registrado? 
						a(href='/acceso') Entra
