extends ../layouts/default

include ../mixins/recipe

block content
	#signup.signin.ui.grid.segment
		.ui.page.grid.head
			.row.logo
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title Registro
				.subtitle Es fácil y rápido

		.ui.page.grid.body
			.row
				.sixteen.wide.column
					.ui.two.column.grid
						.column.center.aligned.group
							.explain.right Regístrate con tus redes sociales

							.buttons-social
								.ui.button.chef.button-fb
									i.social.icon-chef-facebook
									a(href='')
										span.social-reg Registro con
										|#{' '}Facebook

								.ui.button.chef.button-g
									i.social.icon-chef-google
									a(href='')
										span.social-reg Registro con
										|#{' '}Google

						.column.group.dashed
							.explain.left ...o con tu correo electrónico
							.form-signin
								form(action='registro', method='post', novalidate)
									.ui.form
										#name.field(class=(errors.fields.name ? "error-here" : ""))
											label(for='signup-name') Nombre de usuario
											.ui.left.labeled.input
												input(id='signup-name', type='text', name='signup_name', placeholder='Nombre de usuario', value='#{form.signup_name||""}', tabindex='1')
												//- .indicator.hidden
													//- .icon-chef-error
											.error-message.hidden Mínimo 6 caracteres, letras o números.

										#email.field(class=(errors.fields.email ? "error-here" : ""))
											label(for='signup-email') Correo electrónico
											.ui.left.labeled.input
												input(id='signup-email', type='email', name='signup_email', placeholder='Correo electrónico', value='#{form.signup_email||""}', tabindex='2')
												//- .indicator.hidden
													//- .icon-chef-error
											.error-message.hidden Correo electrónico incorrecto o en uso.

										#password.field(class=(errors.fields.password ? "error-here" : ""))
											label(for='signup-password', id='signup-password-label') Contraseña
											#wrapper-show-password.ui.labeled.checkbox
												input(id='show-password', type='checkbox', name='show_password')
												label(for='show-password') Mostrar
											#wrapper-password.ui.left.labeled.input
												input(id='signup-password', type='password', name='signup_password', tabindex='3')
												//- .indicator.hidden
													//- .icon-chef-error

											.error-message.hidden Mínimo 8 caracteres.

										//- #terms.field

										//- 	.ui.left.labeled.checkbox
										//- 		input(id='signup-terms', type='checkbox', name='signup_terms')
										//- 		label(for='signup-terms') Acepto los <a href='/terminos'>términos y condiciones</a>

										input(type='hidden', name='action', value='signup')

										button.ui.button.chef.button-blue(type='submit', tabindex='4') Continuar

										#terms.field
											.info-terms Al continuar aceptas los 
												a(href='/terminos') términos y condiciones.
		.ui.page.grid.tail
			.row
				.sixteen.wide.column
					.link
						| ¿Ya estás registrado? 
						a(href='/acceso') Entra
