extends ../layouts/default

include ../mixins/recipe

block css
	link(href="frontend/styles/site.css", rel="stylesheet")

	//- This file provides the default styling for the KeystoneJS Content Editor
	if user && user.canAccessKeystone
		link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

	//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	//- Safely remove this block if you are not targeting IE8
	//-[if lt IE 9]
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
	//-[endif]

block js
	//- JAVASCRIPT
	script(src='/packages/jquery/dist/jquery.min.js')
	script(src='/packages/jquery-address/src/jquery.address.js')
	script(src='/packages/semantic-ui/build/packaged/javascript/semantic.js')

	script(src='/frontend/js/main.js')

	//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
	//- which generate links to edit content for users who can access Keystone
	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')

block content
	#signup.ui.grid.segment
		.ui.page.grid
			.row

			.row
				.four.wide.column

				.logo.eight.wide.column
					a.icon-chef-logo.icon(href="/")

					.span Registro
					.span Fácil y rápido

			.row
				.sixteen.wide.column

					.ui.two.column.grid
						.column.center.aligned
							.ui.button.chef.button-green
								a(href='') Facebook

							.ui.button.chef.button-green
								a(href='') Google

						.column
							form(action='signup')
								.ui.form.segment
									.field
										label Correo electrónico
										.ui.left.labeled.input
											input(id='signup_email', name='signup_email', type='text', placeholder='Correo electrónico')
									.field
										label Nombre de usuario
										.ui.left.labeled.input
											input(id='signup_name', name='signup_name', type='text', placeholder='Nombre de usuario')
									.field
										label Contraseña
										.ui.left.labeled.input
											input(id='signup_password', name='signup_password', type='password')

									.ui.button.chef.button-green
										input(type='submit', value='Registro')