extends ../layouts/default

block head
	meta(name='robots',content='noindex')

block content
	#terms.ui.grid.segment
		.ui.page.grid.head.basic
			.row.logo
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title= __('Terms and conditions')

		.ui.page.grid.body
			.row
				.column
					p You broke it. Wow, look at him go. Of course not, Biff, now I wouldn't want that to happen. Now, uh, I'll finish those reports up tonight, and I'll run em them on over first thing tomorrow, alright? I think you got the wrong car, McFly. David, watch your mouth. You come here and kiss your mother before you go, come here. It's taken me almost thirty years and my entire family fortune to realize the vision of that day, my god has it been that long. Things have certainly changed around here. I remember when this was all farmland as far as the eye could see. Old man Peabody, owned all of this. He had this crazy idea about breeding pine trees.

					p I haven't Okay, but I don't know what to say. Listen, I gotta go but I wanted to tell you that it's been educational. This is for all you lovers out there. Doc, Doc, it's me, Marty.

					p Yeah Mom, we know, you've told us this story a million times. You felt sorry for him so you decided to go with him to The Fish Under The Sea Dance. No, I refuse to except the responsibility. That's right, twenty five years into the future. I've always dreamed on seeing the future, looking beyond my years, seeing the progress of mankind. I'll also be able to see who wins the next twenty-five world series. Wait a minute, Doc. What are you talking about? What happens to us in the future? What do we become assholes or something? I think you got the wrong car, McFly.

					p That's a big bruise you have there. Actually, people call me Marty. Doc, wait. No, bastards. No wait, Doc, the bruise, the bruise on your head, I know how that happened, you told me the whole story. you were standing on your toilet and you were hanging a clock, and you fell, and you hit your head on the sink, and that's when you came up with the idea for the flux capacitor, which makes time travel possible. It was meant to be. Anyway, if Grandpa hadn't hit him, then none of you would have been born.

					p Unroll their fire. The way I see it, if you're gonna build a time machine into a car why not do it with some style. Besides, the stainless, steel construction made the flux dispersal- look out. You got a permit for that? Jennifer, oh are you a sight for sore eyes. Let me look at you. Thanks, thanks a lot.

					p Marty, is that you? Of course I do. Just a second, let's see if I could find it. Well, safe and sound, now, n good old 1955. Wrecked? Oh, you make it sound so easy. I just, I wish I wasn't so scared.

					p Okay, alright, I'll prove it to you. Look at my driver's license, expires 1987. Look at my birthday, for crying out load I haven't even been born yet. And, look at this picture, my brother, my sister, and me. Look at the sweatshirt, Doc, class of 1984. Keys? Yoo. What? He's your brother, Mom.

					p What the hell is this? It's cold, damn cold. Ha, ha, ha, Einstein, you little devil. Einstein's clock is exactly one minute behind mine, it's still ticking. Hey boy, are you alright? Hey, McFly, I thought I told you never to come in here. Well it's gonna cost you. How much money you got on you? Ronald Reagon.

					p Marty, that's completely out of the question, you must not leave this house. you must not see anybody or talk to anybody. Anything you do could have serious reprocautions on future events. Do you understand? Thank god I found you. Listen, can you meet me at Twin Pines Mall tonight at 1:15? I've made a major breakthrough, I'll need your assistance. I don't wanna see you in here again. Nothing. The storm.

					p But you're good, Marty, you're really good. And this audition tape of your is great, you gotta send it in to the record company. It's like Doc's always saying. George, buddy. remember that girl I introduced you to, Lorraine. What are you writing? Marty, I'm sorry, but the only power source capable of generating one point twenty-one gigawatts of electricity is a bolt of lightning. The way I see it, if you're gonna build a time machine into a car why not do it with some style. Besides, the stainless, steel construction made the flux dispersal- look out. Sap m, quit fiddling with that thing and come in here and eat your dinner.