extends ../layouts/default

block js
  script(src='/js/tips.js')


block content
  - console.log('HEADER TIP', data.header)
  - console.log('RECENT TIPS', data.tips)
  - console.log('POPULAR TIPS', data.popular)