mixin about(user)
	//- if user privacy settings
	.four.wide.column
		img.ui.image.avatar(src="#{user.avatars[user.media.avatar.origin]}")
		i.social.icon-chef-camera

	.twelve.wide.column
		h2.ui.header ¡Hola 
			strong!= user.name
			|!
		.ui.content!= user.about