mixin about(user)
	//- if user privacy settings
	.picture-wrapper.four.wide.column
		.picture
			img.ui.image.avatar(src="#{user.avatars[user.media.avatar.origin]}")
			a.icon-chef-camera.rounded(href="/")

	.info.twelve.wide.column
		h2.ui.header ¡Hola 
			strong!= user.name
			|!
		.ui.content!= user.about