mixin about(user)
	//- if user privacy settings
	.four.wide.column.picture-wrapper
		.picture
			if !user.media.avatar.url
				- user.media.avatar.url = '../frontend/images/test_user.png'

			img.ui.image.avatar(src="#{user.media.avatar.url}")
			a.icon-chef-camera.rounded(href="/")

	.twelve.wide.column.info
		h2.ui.header ¡Hola 
			strong!= user.name
			|!
		.ui.content!= user.about