mixin difficultItems(labels)
  - for (var j = 0, l = labels.length; j < l; ++j) {
    .item(data-value=(j+1))
      - for (var i = 0; i < l; ++i) {
        if i < (j+1)
          i.icon-chef-tenedor.icon.on
        else
          i.icon-chef-tenedor.icon.off
      - }
      .span= labels[j]
  - }