mixin grid(recipes, gridPositions, gridSizes)

	- var positions = gridPositions.split(', ');
	- var sizes = gridSizes.split(', ');

	if recipes.length && positions.length
		- for (var i = 0, l = positions.length; i < l; i++)
			- var recipe = recipes[positions[i] - 1]
			- var title = 'Vacio'
			- var image = 'default_recipe.jpg'
			if recipe
				- title = recipe.title
				- image = recipe.header.url

			div(class="recipe #{sizes[i]}", style="background-image: url(#{image}); background-position:center; background-size:cover;")
				span= title