mixin header-share()
	//-- just a test
	.ui.four.column.center.aligned.grid
		.column
			a.ui.item.social-popup(href="https://twitter.com/home?status=http://google.com", target="_blank")
				.ui.icon
					i.icon-chef-twitter.icon
		.column
			a.ui.item.social-popup(href='http://www.facebook.com/sharer.php?u=http://google.com' target="_blank")
				.ui.icon
					i.icon-chef-facebook.icon
		.column
			a.ui.item.social-popup(href='http://pinterest.com/pin/create/link/?url=http://google.com' target="_blank")
				.ui.icon
					i.icon-chef-pinterest.icon
