include ../mixins/header-share

mixin header(data, section)

  - var defaults = { images: { index: '/images/default_index.jpg', profile: '/images/default_user_profile.jpg', newRecipe: '/images/default_new_recipe.jpg', recipe: '/images/default_recipe.jpg', recipes: '/images/default_recipes.jpg', contest: '/images/default_contest.jpg', contests: '/images/default_contests.jpg', menus: '/images/default_menu.jpg', menu: '/images/default_menu.jpg', newMenu: '/images/default_menu.jpg' } }

      if ['home', 'recipe', 'recipes', 'new-recipe', 'videorecipes', 'videorecipe', 'contest', 'contests', 'participants', 'tips', 'tip', 'menus', 'menu', 'new-menu'].indexOf(section) !== -1
        .promoted.ui.grid.segment(style="background-image:url('#{image}')", id= section + "-header")

      else if ['privateProfile', 'publicProfile'].indexOf(section) !== -1
        .ui.grid.segment.user-profile(style="background-image: url(#{image});", id= section + "-header")

      .shadow-layer
      .ui.page.grid.head.simple.with-social
        include ../components/nav-bar

        .row.logo.shadow
          a.icon-chef-logo.icon(href="/")

        .row
          .social.four.tablet-seven.wide.column.tablet.computer.only
            .corner-position.left
              |#{__('Follow us on social networks')}
              include ../components/follow

          if data.header
            - var promotedTitle = data.header ? data.header.title : __('No recommendation')
            - var promotedUrl = data.header ? data.header.url : '/recetas'

            .four.wide.column.computer.only

            include ../components/promoted