mixin header-share()
  //-- just a test
  .ui.four.column.center.aligned.grid
    .column
      a.ui.item.social-popup(href="https://twitter.com/home?status=" + encodeURIComponent(fullUrl), target="_blank")
        .ui.icon
          i.icon-chef-twitter.icon
    .column
      a.ui.item.social-popup(href="http://www.facebook.com/sharer.php?u=" + encodeURIComponent(fullUrl), target="_blank")
        .ui.icon
          i.icon-chef-facebook.icon
    .column
      - var pinArgs = 'url=' + encodeURIComponent(fullUrl)
      if opengraph
        - pinArgs = 'url=' + encodeURIComponent(opengraph.url)
        - pinArgs += '&media=' + encodeURIComponent(opengraph.image)
        - pinArgs += '&description=' + encodeURIComponent(opengraph.description)
      a.ui.item.social-popup(href="http://pinterest.com/pin/create/button/?" + pinArgs, target="_blank")
        .ui.icon
          i.icon-chef-pinterest.icon