mixin recipe-shopping(recipe)
	.row.position
		a(href=recipe.url).hover-list
		.five.wide.column
			.thumbnail(style = 'background-image: url(' + recipe.thumb.list + ')')
				.row

				.row

				.row
					.ui.three.column.center.aligned.grid
						.column
							i.icon-chef-time.icon
							.span= recipe.time + ' ' + __('min')

						.column
							i.icon-chef-porciones.icon
							.span= recipe.portions

						.difficulty.column
							- var difficulty = recipe.difficulty
							- for(var x = 0; x < 5; x++)
								if difficulty == 0
									i.icon-chef-tenedor.icon.off
								else
									i.icon-chef-tenedor.icon.on
									- difficulty = difficulty - 1;

		.eleven.wide.column
			
			#ingredients.ui.three.grid
				.ui.two.column.wide
					.ui.two.mobile-one.column.grid
						if recipe.ingredients
							- var ingredients = recipe.ingredients.replace(/(<\/p>|\r|\n)/gi, '').split('<p>')
							- for (var j = 0, l = ingredients.length; j < l; j++)
								.column.ingredient
									.icon-chef-cesta.checks
									| #{ingredients[j]}
				.ui.one.column.wide
					| hola