include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Chefcito'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body.preload.ui.segment.grid

		//- Flash messages allow you to display once-off status messages to users, e.g. form
		//- validation errors, success messages, etc.
		+flash-messages(messages)

		//- The content block should contain the body of your template's content
		block content

		include ../components/social

		include ../components/footer

		include ../components/menu

		//- Include template-specific javascript files by extending the js block
		block js

		if env.NODE_ENV == 'development'
			include ../components/debug