
@contest-ranking-info-background: fade(@chef-color-white, 60%);
@contest-ranking-rating-border: @chef-color-white;
@contest-ranking-rating-shadow: @chef-color-black;
@contest-winners-background-color: @chef-color-yellow-bg;
@contest-winners-header-color: @chef-color-white;
@contest-ranking-bg: @chef-color-light-bg;
@chef-color-voted: @chef-color-blue-bg;
@chef-color-vote: @chef-color-brick-bg;

// Font color
@contest-ranking-info-color: @chef-color-black;
@contest-ranking-status-color: @chef-color-white;
@contest-ranking-icon-color: @chef-color-yellow-bg;
@contest-ranking-rating-color: @chef-color-yellow-bg;
@contest-user-winner-color: @chef-color-brick-bg;


/****************
  Contest Styles
****************/
.bg-grey{
  background-color: @chef-color-light-bg;

}
#info {
  .status {
    padding-top: 10px;
    padding-bottom: 5px;
    div{
      .font-large;
    }
  }

  .subheader {
    padding-bottom: 20px;
    .font-larger;

    .icon {
      color: @contest-ranking-icon-color;
      margin-right: 10px;
    }

  }
}

#actions {
  padding-top: 10px;

  .contest-actions {
    &.programmed, &.closed, &.finished {
      .action {
        display: none;
      }
    }

    &.submission {

    }

    &.votes{
      .action.join {
        display: none;
      }
    }

    .action {
      display: inline-block;
      padding-left: .5em;
      margin-bottom: .5em;
      margin-top: 2.5em;
      .button{
        padding: 25px 25px;
        height: 65px;
      }

      @media screen and (max-width: 991px) {
        display: block;
        .button {
          width: 100%;
        }
      }
    }
  }
}

#contest-content {

  margin-top: 10px;

  .explain {
    margin-bottom: 20px;
  }

  .subheader{
    strong{
      .font-larger;
    }
  }
  #winners {
    background-color: @contest-winners-background-color;

    .header {
      color: @contest-winners-header-color;
      margin-bottom: 15px;
    }

    .contest-module {
      height: 300px;

      @media screen and (max-width: 767px) {
        height: 200px;
      }
    }

    .recipe-winner {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 300px;

      .author-winner {
        position: relative;
        display: inline-block;
        margin: 10px 0;

        img {
          &.author {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            border: 4px solid @contest-ranking-rating-border;
          }

          &.award {
            width: 30px;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
    }

    .recipe-award {
      height: 300px;
      background-color: @contest-ranking-bg;
      padding-top: 15px;

      .user {
        .font-large.uppercase;
        font-family: 'Pinto';
        color: @contest-user-winner-color;
      }

      .title {

        a {
          .font-xxl.uppercase;
          color: @contest-ranking-info-color;
          font-family: 'Pinto';
          line-height: 48px;
          text-decoration: none;
        }
      }

      .award {

      }
    }
  }

  #contest-awards {

    &.finished {
      display: none;
    }

    .award {
      margin-top: 20px;
      position: relative;

      .icon {
        position: absolute;
        top: 0;
      }

      .explain {
        padding-left: 80px;
        p{
          margin:5px 0;
        }
      }
    }
  }

  #ranking {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: @contest-ranking-bg;

    .subheader {
     .font-larger;
    }

    &.finished {
      background-color: transparent;
    }

    .top-contest {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 300px;
      position: relative;
      margin: 20px 0;
      box-shadow: 0px 0px 0px 1px #ffffff inset;

      @media screen and (max-width: 767px) {
        margin: 10px 0;
      }

      .top-rating {
        position: absolute;
        right: 0;
        top: 10px;

        .icon {
          .font-xxl;
          color: @contest-ranking-rating-color;
          text-shadow:
            1px 0 0 @contest-ranking-rating-border,
            -1px 0 0 @contest-ranking-rating-border,
            0 1px 0 @contest-ranking-rating-border,
            0 -1px 0 @contest-ranking-rating-border,
            1px 1px @contest-ranking-rating-border,
            -1px -1px 0 @contest-ranking-rating-border,
            1px -1px 0 @contest-ranking-rating-border,
            -1px 1px 0 @contest-ranking-rating-border,
            0px 0px 10px @contest-ranking-rating-shadow;

          span {
            .font-larger;
            color: @contest-ranking-info-color;
            text-shadow: none;
            position: absolute;
            top: 20px;
            right: 0;
            font-weight: bolder;
            font-style: normal;
            text-align: center;
            width: 70px;
          }
        }
      }

      .top-info {
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 10px;
        background-color: @contest-ranking-info-background;
        box-sizing: border-box;
        min-height: 125px;


        span {
          
          strong {
           .font-large;
           text-align: left;
          }

          a {
            .font-large.uppercase;
            
            font-weight: normal;
            color: @contest-ranking-info-color;
            text-decoration: none;

            @media screen and (max-width: 991px) {
              .font-normal.uppercase;
            }
          }
        }

        .top-share {
          .font-normal;
          text-align: center;
          margin: 10px 0;

          @media screen and (max-width: 767px) {
            margin: 0;
          }

          a {
            color: @contest-ranking-info-color;
            text-decoration: none;
          }
        }

        @media screen and (max-width: 767px) {
          text-align: center;
        }
      }
    }

    .right.aligned {
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
  }

  #contest-terms {
    &.finished {
      display: none;
    }
  }
}
.mode-editable {


}
//Top rating list

.tab-header{
  .ui.button.chef.button-brick{
    display: table-block;
    height: 65px;
    padding: 25px 5px;
    a{
      
    }
  }
}
#participants-content{
  #info{
    .top-ranking{
      position: relative;
      width: 270px;
      display: block;
      margin: auto;
      .icon{
        position: absolute;
        top: -5px;
        left: -80px;
        font-size: 70px;
      }
    }
  }
  .rating{
    height: 100px;
    margin-top: -40px;
    float: right;
    .span{
      position: relative;
      bottom: 40px;
    }
    p{
      .font-extra-larger;
      text-transform: uppercase;
      font-family: @pinto-fonts;
      color: @chef-color-vote;
      &.voted{
        color: @chef-color-voted;
      }
    }
  }
  .list a {
    h2.header {
    } 
    span.header{
      position: relative;
      top: 10px;
    }
  }
}
