@send-message-color: lighten(@chef-color-green-bg, 15%);
@contact-color: darken(@chef-color-green-bg, 15%);

#contact{
  background-color: @chef-color-light-bg;
  font-weight: lighter;
  .icon{
    .font-extra-large;
    @media only screen and (min-width : 991px) {
      .font-extra-larger;
    }
    @media only screen and (max-width : 771px) {
      .font-large;
    }
    color: @chef-color-green-bg;
  }
}

#form-contact{
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  background-color: @send-message-color;
  color: @chef-color-white;
  .form-contact{
    .input{
      width: 100%;
      label{
        color: @contact-color;
      }
      input{
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 0;
        border: none;
      }
      button.icon{
        width: 100%;
        background-color: @chef-color-green-bg;
        color: @chef-color-white;
        border:none;
        .font-normal;
        text-transform: uppercase;
        padding: 10px;
        margin-top: 5px;
        cursor: pointer;
        transition: background-color @ani-time ease-out;
        &:hover{
          background-color: @contact-color ;
        }
      }
    }
  }
}