@editable-border-shadow: @chef-color-black;
@editable-border: @chef-color-gray;
@editable-border-focus: @chef-color-black;

.show-editable {
  visibility: hidden;
}

.set-editable {
  transition: box-shadow 300ms ease-in, padding 300ms ease-in;
  outline: none;

  .options {
    position: absolute;
    display: none;
  }
}

#manage-wrapper {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease-in;
}

#actions-wrapper {
  top: -150px;
  right: 20px;
  position: absolute;
  transition: top 300ms ease-in;
}

#menu-wrapper {
  visibility: visible;
  opacity: 1;
  transition: opacity 150ms ease-in;
  transition-delay: 150ms;
}

.mode-editable {

  #manage-wrapper {
    visibility: hidden;
    opacity: 0;
  }

  #actions-wrapper {
    top: 0px;
    right: 20px;
    position: absolute;
  }

  #menu-wrapper {
    //display: none;
    visibility: hidden;
    opacity: 0;
  }

  // This is a header promoted image.
  // In recipe page this image has a shadow for highlight the title
  .promoted {
    .shadow-layer {
      transition: opacity 300ms ease-in;
      opacity: 1 !important;
    }
  }

  .show-editable {
    visibility: visible;
  }

  .head {
    .logo {
      position: inherit;
    }

    .section {
      position: inherit;

      &.title {
        position: relative;

        .set-editable {
          box-shadow: none !important;
          border: none;
          padding: 0;
        }
      }
    }

    .social {
      position: inherit;
    }
  }

  .set-editable {
    transition: box-shadow 300ms ease-in, padding 300ms ease-in;

    border: 1px solid lighten(@editable-border, 60%);
    box-shadow: 0px 2px 4px -2px @editable-border-shadow !important;
    padding: 15px;
    outline:none;

    &.dropdown {
      cursor: pointer;

      .options {
        border: 1px solid #d0cdcb;
        margin: 15px -18px -15px -16px;
        padding:  0 15px;
        background-color: white;
        z-index: 100;

        &.show {
          transition: box-shadow 300ms ease-in, padding 300ms ease-in;
          box-shadow: 0px 0px 45px -10px @editable-border-shadow !important;
          display: block;

          .item {
            margin: 0 -15px;
            padding: 0 15px;

            &.selected {
              background-color: lighten(@editable-border, 70%);
            }

            &:hover {
              background-color: lighten(@editable-border, 60%);
            }
          }
        }
      }
    }

    &.focus {
      border: 1px solid lighten(@editable-border, 30%);
    }
  }

  strong.set-editable {
    padding: 5px;
  }

}
