#messages {
  position: fixed;
  z-index: 3000;
  right: 0;

  .message {
    box-shadow: 0 0 32px rgba(0,0,0,.15);
    white-space: nowrap;
    padding-right: 19px;
    white-space: normal;
    i.icon{
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }
}

.column.error-content {
  text-align: center !important;
  h1 {
    font-size: 3em;
    font-family: @pinto-fonts;
    text-transform: uppercase;
  }

  div.debug {
    text-align: left;
    font-family: monospace;
    font-size: 14px;
  }
}

.ui.message {
  border-radius: 0 !important;
}

.messages-close {
  cursor: pointer;
}

.error-message {
  display: none;
  .font-smaller;
  text-align: left;
  color: @error-message-color;
}

.error-here {
  input {
    border-color: @error-input-border;
  }

  &.set-editable {
    border: 1px solid @error-input-border !important;
  }

  .error-message {
    display: block;
  }
}
