/****************
  Header
****************/
@header-color-text: @chef-color-white;
@avatar-size: 48px;

#header {
  background-color: transparent;
}

#header {
	position: relative;

	.profile {

		&:hover {
			background-color: transparent;
		}

		strong {
			.font-large.uppercase;
			color: @header-color-text;

		}

		.avatar {
			display: inline-block;
			margin-right: 0.5em !important;
			position: relative;
			top: -4px;
		}

		.username {
			@media only screen and (max-width: 767px) {
				display: none;
			}
		}

	}

	.admin {
		@media only screen and (max-width : 767px) {
			display: none;
		}
	}

	.logout {
		@media only screen and (max-width : 767px) {
			display: none;
		}
	}
}

.narrow {
  background-size: cover !important;
  background-position: center center;
  .logo .icon {
    font-size: 150px;
    text-decoration: none;
    vertical-align:top;
  }
  .title{
    color: @chef-color-white;
    margin-top: -30px;
    margin-bottom: 30px;
  }
}

#header-background, #vertical-overlay {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
}


#header-background {
	background-size: cover;
}
#vertical-overlay {
	background-size: contain;
}
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}