
.loader {
  height: 80px;

  > .column {
    .font-extra-large;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    visibility: hidden;
    display: none;
  }

  .show {
    animation: chefbounce 0.2s ease forwards;
    display: block;
  }
}