#newsletter-header {
  background-size: cover !important;
  background-position: center center;
  .logo .icon {
    font-size: 150px;
    text-decoration: none;
    vertical-align:top;
  }
}
.newsletter-actions {
  padding-top: 30px;

  a {
    margin: 0 5px !important;
  }
}

#newsletter-subscribe {
  margin-top: 10px;
  display: none;
}
#newsletter-content{
  .bg-grey{
    .title{
      text-align: center;
    }
  }
  .explain{
    margin-top: 20px;
  }
}