/****************
  QUESTIONS 
****************/
#prev-questions{
  &.bg-grey{
    h2{
      text-align: center;
    }
    p{
      text-align: center;
      margin-top: -25px;
    }
  }
}
#send-query{
  .field {
    .ui.icon.input {
      > .icon.chef.button-brick-side{
        .font-larger;
        width: auto;
        padding: 20px;
      }
    }
  }
}
.tab-header{
  .ui.button.chef.button-yellow{
    display: table-block;
    height: 65px;
    padding: 25px 5px;
    a{

    }
  }
}