
@recipes-color-text: @chef-color-white;
@recipes-grid-border: @chef-color-white;

@ingredients-color-check-enabled: @chef-color-brick-bg;
@ingredients-color-check-disabled: @chef-color-gray-bg;
@ingredients-border-check-enabled: @chef-color-black;
@ingredients-border-check-disabled: @chef-color-gray-bg;
@ingredients-steps-bg: @chef-color-light-bg;

@icons-font-size: 28px;
@icon-heart-font-size: 38px;
@recipe-font-text: @font-uppercase-size-larger;

/****************
  Recipes
****************/

.promoted {

  .section {
    color: @profile-section-color-text;
  }
}

/****************
  Recipes Styles
****************/
#recipes {

  .row {
    margin-top: 0;
    padding-top: 0;

    .row.position {
      position: relative;
    }
    .list {
      .list
    }
  }

  .official{
    position: absolute;
    top: 10px;
    right: 0;
  }

  a{
    text-decoration: none;
    h2{
      color: @chef-color-black;
    }
  }

  .loader {
    height: 80px;

    > .column {
      .font-extra-large;
      text-align: center;
      text-transform: uppercase;
      padding: 15px 0;
      visibility: hidden;
      display: none;
    }

    .show {
      animation: chefbounce 0.2s ease forwards;
      display: block;
    }
  }
}

/****************
  Recipe Styles
****************/

#recipe-content {

  margin-top: 10px;

  #actions {
    padding-top: 10px;
  }

  .icon {
    font-size: @icons-font-size;
  }

  .span {
    display: inline;
    font-size: 18px;
    font-weight: normal;
    line-height: 4px;
    text-transform: capitalize;
  }

  .time, .portions, .difficulty, .rating {
    .span {
      margin-left: 10px;
    }
  }
  .favorite{
    .checks{
      border: none;
      font-size:@icon-heart-font-size ;
    }
  }
  .difficulty, .rating {
    font-size: @icons-font-size;

    .off {
      opacity: 0.3;
    }

    .on {
      color: @recipes-thumbnail-ranking-on;
    }

    .icon-chef-tenedor:before {
      width: 4px;
    }

    .icon-chef-star:before {
      width: 18px;
    }
  }

  .explain {
    margin-bottom: 20px;
  }

  #ingredients {
    margin: 20px 0;

    .ingredient {
     

      &:last-child {
        width: 100%;
      }
    }
  }
  #procedure{
    padding: 45px 0;
    background-color: @ingredients-steps-bg;
    #steps {
      .step {
        .ui.header {
          display: inline;
        }
      }
    }
  }
}
