
@recipes-color-text: @chef-color-white;
@recipes-grid-border: @chef-color-white;

@ingredients-color-check-enabled: @chef-color-brick-bg;
@ingredients-color-check-disabled: @chef-color-gray-bg;
@ingredients-border-check-enabled: @chef-color-black;
@ingredients-border-check-disabled: @chef-color-gray-bg;
@ingredients-steps-bg: @chef-color-light-bg;

@ingredients-color-remove: @chef-color-gray-bg;
@ingredients-color-remove-hover: darken(@ingredients-color-remove, 60%);

@icons-font-size: 28px;
@icon-heart-font-size: 18px;
@recipe-font-text: @font-uppercase-size-larger;

/****************
  Recipes
****************/

.promoted {

  .section {
    color: @profile-section-color-text;
  }

  .editable-container {
    text-align: center;

    #recipe-title {
      display: inline-block;
      white-space: nowrap;
    }
  }
}

/****************
  Recipes Styles
****************/
#recipes {

  .row {
    margin-top: 0;
    padding-top: 0;

    .row.position {
      position: relative;
      .hover-list{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10000;
        cursor: pointer;
        opacity: 0.1;
        &:hover{
          background-color:@chef-color-red-bg;
        }
      }

    }
    .list {
    }
  }

  .official{
    position: absolute;
    top: 10px;
    right: 0;
  }

  a{
    text-decoration: none;
    h2{
      color: @chef-color-black;
    }
  }
}

/****************
  Recipe Styles
****************/
#recipe-content {

  margin-top: 10px;

  .icon {
    .font-extra-large;

    @media only screen and (max-width : 991px) {
      .font-larger;
    }

  }

  .span {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    //text-transform: capitalize;
  }

  //.time, .portions, .difficulty, .rating {
  .difficulty {
    font-size: @icons-font-size;
    .span {
      margin-left: 10px;
    }
    .off {
      opacity: 0.3;
    }

    .on {
      color: @recipes-thumbnail-ranking-on;
    }

    .icon-chef-tenedor:before {
      width: 4px;
    }

  }
  .favourite {
    .checks {
      &.icon-chef-heart{
          color: @chef-color-white;
        }
      .font-normal;
      border: none;
      padding-left: 0;
    }

    .activated {
      .checks {
        color: @ingredients-color-check-enabled;
      }
    }
  }
  .rating {
    transition: opacity @ani-time ease-in;
    font-size: @icons-font-size;

    .span {
      margin-left: 10px;
    }
  
    .off {
      opacity: 0.3;
    }

    .on {
      color: @chef-color-yellow-bg;
    }

    .icon-chef-star:before {
      width: 18px;
    }
  }

  .explain {
    margin-bottom: 20px;
    .font-larger;
  }

  #info {
    padding-top: 10px;

    .recipe-attributes > div {
      display: inline-block;
      margin: 0 6px;
      outline: none;

      // Horizontal space invisible when verticalized
      @media screen and (max-width: 767px) {
        padding: 12px;
        padding-right: 0;
        display: block;
      }
    }
  }

  #actions {
    padding-top: 10px;

    .recipe-actions > div {
      display: inline-block;
      padding-left: .5em;
      margin-bottom: .5em;

      @media screen and (max-width: 991px) {
        display: block;
        .button {
          width: 100%;
        }
      }
    }
  }

  #ingredients {
    padding-top: 20px;
    padding-bottom: 20px;

    .ingredient {
      .font-large;
      &.column {
        margin: 0 0 0.5em 0;
      }

      position: relative;

      .checks {
        position: absolute;
        top: 0;
      }

      .editable-container, .span {
        transition: all @ani-time ease-in;
        margin-left: 48px;
        display: block;

        .set-editable {
          line-height: 1.2em;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }

      .span {
        line-height: 44px;
      }

      .ingredient-remove {
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 32px;
        z-index: 20;
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  #procedure {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: @ingredients-steps-bg;

    #steps {
      .step {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        .font-larger;

        .checks {
          position: absolute;
          top: 0;
        }

        .header {
          transition: all 300ms ease-in;
          margin: 0;
          margin-left: 48px;
          display: block;

          .step-remove {
            .font-small;
            display: inline;
            text-transform: lowercase;
            text-decoration: underline;
            cursor: pointer;
            font-weight: normal;
            padding: 0px 15px;
          }
        }
      }

      .set-editable {
        margin-top: 10px;
      }
    }
  }

  .manage {
    &.show-editable {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.mode-editable {

  .ingredients-manage {

    &.adding {
      .show-editable {
        display: none;
      }
    }
  }

  .ingredient {
    .set-editable {
      padding-top: 0;
      padding-bottom: 0;
    }
    .editable-container {
      margin-left: 0 !important;
      margin-right: 48px;
    }
  }

  .step {

    .header {
      &.index {
        margin-left: 0 !important;
        margin-right: 48px;
      }
    }
  }

  .set-editable {
    &.dropdown {

      &.difficulty {
        transition: all @ani-time ease-in;
        width: 180px;

        .options {
          width: 180px;
        }
      }
    }
  }
}

#image-size-warning {
  /* Edit me please */
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 5px 15px;
  border-radius: 4px;
  background-color: @chef-color-gray-bg;
  color: @chef-color-white;
  font-size: 1.2rem;
  display: none;
}