
@recipes-color-text: @chef-color-white;
@recipes-grid-border: @chef-color-white;

@ingredients-color-check-enabled: @chef-color-brick-bg;
@ingredients-color-check-disabled: @chef-color-gray-bg;
@ingredients-border-check-enabled: @chef-color-black;
@ingredients-border-check-disabled: @chef-color-gray-bg;
@ingredients-steps-bg: @chef-color-light-bg;

@ingredients-color-remove: @chef-color-gray-bg;
@ingredients-color-remove-hover: darken(@ingredients-color-remove, 60%);

@icons-font-size: 28px;
@icon-heart-font-size: 18px;
@recipe-font-text: @font-uppercase-size-larger;

/****************
  Recipes
****************/

.promoted {

  .section {
    color: @profile-section-color-text;
  }

  .editable-container {
    text-align: center;

    #recipe-title {
      display: inline-block;
      white-space: nowrap;
    }
  }
}

/****************
  Recipes Styles
****************/
#recipes {

  .row {
    margin-top: 0;
    padding-top: 0;

    .row.position {
      position: relative;
    }
    .list {
      .list
    }
  }

  .official{
    position: absolute;
    top: 10px;
    right: 0;
  }

  a{
    text-decoration: none;
    h2{
      color: @chef-color-black;
    }
  }

  .loader {
    height: 80px;

    > .column {
      .font-extra-large;
      text-align: center;
      text-transform: uppercase;
      padding: 15px 0;
      visibility: hidden;
      display: none;
    }

    .show {
      animation: chefbounce 0.2s ease forwards;
      display: block;
    }
  }
}

/****************
  Recipe Styles
****************/
#recipe-content {

  margin-top: 10px;

  .icon {
    .font-extra-large;

    @media only screen and (max-width : 991px) {
      .font-larger;
    }

  }

  .span {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    //text-transform: capitalize;
  }

  //.time, .portions, .difficulty, .rating {
  .difficulty {
    .span {
      margin-left: 10px;
    }
  }

  .rating {
    transition: opacity 300ms ease-in;

    .span {
      margin-left: 10px;
    }
  }

  .favourite {
    .checks {
      .font-normal;
      border: none;
      padding-left: 0;
    }

    .activated {
      .checks {
        color: @ingredients-color-check-enabled;
      }
    }
  }

  .difficulty, .rating {
    font-size: @icons-font-size;

    .off {
      opacity: 0.3;
    }

    .on {
      color: @recipes-thumbnail-ranking-on;
    }

    .icon-chef-tenedor:before {
      width: 4px;
    }

    .icon-chef-star:before {
      width: 18px;
    }
  }

  .explain {
    margin-bottom: 20px;
  }

  #info {
    padding-top: 10px;

    .recipe-attributes > div {
      display: inline-block;
      margin: 0 6px;
      outline: none;

      // Horizontal space invisible when verticalized
      @media screen and (max-width: 767px) {
        padding: 12px;
        padding-right: 0;
        display: block;
      }
    }
  }

  #actions {
    padding-top: 10px;

    .recipe-actions > div {
      display: inline-block;
      padding-left: .5em;
      margin-bottom: .5em;

      @media screen and (max-width: 991px) {
        display: block;
        .button {
          width: 100%;
        }
      }
    }
  }

  #ingredients {
    margin: 20px 0;

    .ingredient {
      &.column {
        margin: 0;
      }

      position: relative;

      .checks {
        position: absolute;
        top: 0;
      }

      .editable-container {
        transition: all 300ms ease-in;
        margin-left: 48px;
        display: block;
        .set-editable {
          line-height: 44px;
        }
      }

      .remove-ingredient {
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 32px;
        z-index: 20;
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  #procedure{
    padding: 45px 0;
    background-color: @ingredients-steps-bg;

    #steps {
      .step {
        .ui.header {
          display: inline;
        }
      }
    }
  }
}

.mode-editable {

  .ingredients-manage {

    &.adding {
      .show-editable {
        display: none;
      }
    }
  }

  .ingredient {
    .editable-container {
      margin-left: 0 !important;
      margin-right: 48px;
    }
  }

  .set-editable {
    padding-top: 0;
    padding-bottom: 0;

    &.dropdown {

      &.difficulty {
        transition: all 300ms ease-in;
        width: 180px;

        .options {
          width: 180px;
        }
      }
    }
  }
}