
/****************
 	SEARCH
****************/

#search-header {
	background: @chef-color-gray-bg;

	.logo .icon {
		font-size: 150px;
		color: #ffffff;
		text-decoration: none;
		vertical-align:top; 
	}


	@media only screen and (max-width : 767px) {
		display: none;
	}


	@media only screen and (max-width : 767px) {
		display: none;
	}
}