/****************
  colors
****************/
@chef-color-recipe: @chef-color-blue-bg;
@chef-color-videorecipe: @chef-color-brick-bg;
@chef-color-tips: @chef-color-green-bg;
@chef-color-menus: @chef-color-pink-bg;

/****************
  SEARCH
****************/

#search-header {

  .logo .icon {
    font-size: 150px;
    color: @chef-color-black;
    text-decoration: none;
    vertical-align:top;
    text-shadow:none;
  }

  #menu-wrapper{
    .menu{
      .profile{
        .username{
          color: @chef-color-black;
          text-shadow: none;
        }
        .arrow-down{
          border-top-color: @chef-color-black;
        }
      }
      .logout{
        color: @chef-color-black;
        &.item a{
          color: @chef-color-black;
          text-shadow: none;
        }
      }
      i:before{
        color: @chef-color-black;
        text-shadow:none;
      }
    }
  }
}
#search-tab{
  &.row.tablet.computer.only{
    margin-top: 0;
    padding: 0;
  }
}
#search-select{
  position: relative;
}

#search{
  #results{
    .position{
      .type{
        margin: 0;
        font-family:@pinto-fonts;
        .font-large;
        text-transform: uppercase;
        &.recipe{
          color: @chef-color-blue-bg;
        }
        &.videorecipe{
          color: @chef-color-videorecipe;
        }
        &.tips{
          color: @chef-color-tips;
        }
        &.menus{
          color: @chef-color-pink-bg;
        }
      }
    }
  }
}
#results {
  .empty-resultset {
    display: none;
    .explain;
    text-align: center;
  }
  &.no-results .empty-resultset {
    display: block;
    margin-top: -35px;
  }
  &.no-results .load-more {
    display: none;
  }
}