
@recipes-color-text: @chef-color-white;
@recipes-grid-border: @chef-color-white;

@ingredients-color-check-enabled: @chef-color-brick-bg;
@ingredients-color-check-disabled: @chef-color-gray-bg;
@ingredients-border-check-enabled: @chef-color-black;
@ingredients-border-check-disabled: @chef-color-gray-bg;
@ingredients-steps-bg: @chef-color-light-bg;

@ingredients-color-remove: @chef-color-gray-bg;
@ingredients-color-remove-hover: darken(@ingredients-color-remove, 60%);


/****************
  Shopping
****************/

#shopping {

  .thumbnail{
    height: auto;
    background-size: contain;
    margin-left: 0;
    .five.wide.column.mobile-sixteen{
      min-height: 200px;
    }
    h2.header{
      background-color: #fff;
      opacity: .6;
      font-family: pinto;
      padding: 12px;
      margin: auto;
      display: block;
      position: absolute;
      bottom: 0;
      width: 29.35%;
      left:0;
    }
    @media only screen and (max-width : 770px) {
      h2.header{
        width: 100%;
        top:0;
        bottom: auto;

      }
    }
  }
  .ingredients{
    background-color: inherit;
    min-height: 301px;
    .shopping-header{
      &.ui.grid{
        .button{
          float: right;
          padding: 10px;
          height: inherit;
          margin-left: 3px;
          .icon{

            &:before{
              margin: 0;
            }
          }
        }
        .shopping-mail{
          &.button{

          }
        }
        .shopping-print{
          &.button{

          }
        }
        .shopping-remove{
          &.button.chef.button-brick{
            float: right;
            padding: 10px;
            height: inherit;
            margin:0 0 0 3px;
            min-width: 1px;
            .icon{
              padding: 2px;
            }
          }
        }
      }
      .remaining{
        font-weight: bold;
        .counter{
          color: @ingredients-color-check-enabled;
        }
      }
    }
    .shopping-ingredients{
      margin-top: -15px;
      &.ui.grid .column.ingredient{
        margin: 5px 0;
      }
    }
  }
}