
@recipes-color-title: @chef-color-white;
@recipes-color-date: @chef-color-white;

@recipes-thumbnail-color: @chef-color-black;
@recipes-thumbnail-background: fade(@chef-color-white, 70%);

@recipes-thumbnail-ranking-off: darken(@chef-color-gray-bg, 15%);
@recipes-thumbnail-ranking-on: darken(@chef-color-gray-bg, 65%);

@recipes-stars-on: @chef-color-yellow-bg;
@recipes-stars-off: @chef-color-gray-bg;

i.icon.play {
 font-size: 140px;
 cursor: pointer;
 margin: 0 auto;
 transition: opacity 100ms ease-out;
 opacity: .75;
 vertical-align: middle;
 display: block;
 @media only screen and (max-width : 767px) {
   font-size: 105px;
  }

 &:hover {
   opacity: 1;
 }
}

/****************
  Video Styles
****************/
#video {
  height: 600px;
  background: url(http://img.youtube.com/vi/50fY8bhEzY0/hqdefault.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 3px;
  @media only screen and (max-width : 767px) {
    height: 450px;
  }

  > .row:first-child {
    height: 30%;
  }

  > .row:last-child {
    height: 30%;
  }

  > .row {
    margin: 0;
    padding: 0;
    height: 40%;

    .title {
      height: 100%;
      position: relative;

      .tabla {
        position: absolute;
        bottom: 20px;
        width: 90%;
        max-width: none;
      }
    }
  }
   i.icon.play{
    &:before{
    }
  }
  img.cutlery{
    position: absolute;
    right: 35px;
    bottom: 55px;
    z-index: 100;
    @media only screen and (max-width : 767px) {
      display: none;
    }
  }
  .img-title.wide.column{
    padding-top: 10px;

    .tabla {
      overflow: hidden;
      position: relative;
      padding-left: 21px;
      padding-right: 96px;
      box-sizing: border-box;
      width: 98%;
      margin: 0 auto;
      @media only screen and (max-width : 767px) {
        padding: 0;
        text-align: center;
        top: -30px;
      }

      p {
        .font-larger;
        margin-left: 10%;
        position: absolute;
        top: -12px;
        text-transform: uppercase;
        @media only screen and (max-width : 767px) {
          .font-large;
          background-color: @chef-color-pink-bg;
          padding: 10px;
          text-align: center;
          float: none;
          margin: 0;
          top: 0;
          position: static;
          width: auto;
          display: inline-block;
        }
      }
      .tabla1{
        position: absolute;
        left:0px;
        height: 120px;
        width: 21px;
        background-image: url('/images/tabla1.png');
        z-index: 10;
        background-repeat: no-repeat;
        @media only screen and (max-width : 767px) {
          display: none;
        }
      }
      .tabla2{
        height: 120px;
        background-image: url('/images/tabla2.png');
        background-repeat: repeat-x;
        z-index: 200;
        @media only screen and (max-width : 767px) {
          background-image:none;
        }
      }
      .tabla3{
        position: absolute;
        right:1px;
        top:0;
        height: 120px;
        width: 95px;
        background-image: url('/images/tabla3.png');
        z-index: 10;
        background-repeat: no-repeat;
        @media only screen and (max-width : 767px) {
          display: none;
        }
      }
    }

    .text {
      position: relative;
      top: 15px;
      left: 15px;
      font-family: @pinto-fonts;
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #fff;
      font-size: 45px;
      bottom: 80px;

      .span {
        .font-xxl;
        color: @recipes-color-title;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @media(max-width: 992px) {
          .font-extra-larger;
        }
        @media(max-width: 767px) {
          .font-extra-large;
          width: 100%;
          text-shadow: 1px 2px 4px @chef-color-gray;
          text-align: center;
        }
      }
    }

    .date {
      bottom: 20px;
      position: absolute;
      width: 50%;
      left: 35px;
      @media only screen and (max-width : 767px) {
        background-color: @chef-color-pink-bg;
        padding: 10px;
        text-align: center;
        float: none;
        margin: 0;
        top: 0;
        position: static;
        width: auto;
        display: inline-block;
        margin-top: 30px;
      }

      .span {
        .font-large;
        color: @recipes-color-date;
        text-align: left;
        text-transform: uppercase;

        @media(max-width: 992px) {
          .font-small;
        }
        @media(max-width: 767px) {
          text-align: center;
          .font-normal;
        }
      }
    }
  }
}

/****************
  Video recipes Styles
****************/
.recipe {
  .five.wide{
    position: relative;
  }
  .play{
    position: absolute;
    color: #fff;
    opacity: .7;
    .font-xxxl;
    left: 50%;
    width: 100%;
    margin-left: -55px;
    top: 40px;
    max-width: 90px;
    @media(max-width: 767px) {
      margin-left: -40px;
    }
  }
}