[Unit]
Description=Elastic

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill elasticsearch
ExecStartPre=-/usr/bin/docker rm elasticsearch
ExecStartPre=/usr/bin/docker pull elasticsearch:1.4.4
ExecStart=/bin/bash -c "HOST_IP=$(/usr/bin/ip addr show dev eth0 | awk '/inet /{print $2}' | cut -d'/' -f1 | grep 192.168 | head -n 1) && exec /usr/bin/docker run --name elasticsearch -p $HOST_IP::9200 elasticsearch:1.4.4"
ExecStop=/usr/bin/docker stop elasticsearch
