[Unit]
After=etcd-amb-elastic.service
After=elastic.service

[Service]
ExecStart=/usr/bin/docker run --link etcd-amb-elastic.service:etcd -v /var/run/docker.sock:/var/run/docker.sock --rm polvi/docker-register elasticsearch 9200 elastic-A

[X-Fleet]
MachineOf=etcd-amb-elastic.service