[Unit]
Requires=node.service
Requires=etcd-amb-node.service
After=node.service
After=etcd-amb-node.service

[Service]
Restart=always
RestartSec=30
ExecStart=/usr/bin/docker run --link etcd-amb-node.service:etcd -v /var/run/docker.sock:/var/run/docker.sock -v /var/log/creandosabores:/var/log --rm mancontr/docker-register node 3000 node-A

[X-Fleet]
MachineOf=node.service