div(class="{{classes}}").row.position

	.five.wide.column
		.thumbnail(style = 'background-image: url({{thumb.list}})')
			.row

			.row

			.row
				.ui.three.column.center.aligned.grid
					.column
						i.icon-chef-time.icon
						.span {{formatTime time}}

					.column
						i.icon-chef-porciones.icon
						.span {{portions}}

					.difficulty.column {{formatIcons difficulty 'tenedor'}}

	.eleven.wide.column
		.rating(data-slug = "{{slug}}", class = "{{#if liked}}liked{{/if}}")
			.voted.on= __('Unlike recipe!')
			.voted= __('Like recipe!')
			.ui.icon.like.font-larger
				i.icon-chef-like.icon.like-button.font-larger
				span.like-counter {{#if likes}}{{likes}}{{else}}0{{/if}}

		a(href="{{url}}")
			span.ui.header {{i}}#
			h2.ui.header {{title}}

		.ui.content {{{description}}}
		| {{formatOfficial isOfficial}}