.row.position
	a(href="/receta/{{slug}}").hover-list
	.five.wide.column
		.thumbnail(style = 'background-image: url({{thumb.list}})')
			.row

			.row

			.row
				.ui.three.column.center.aligned.grid
					.column
						i.icon-chef-time.icon
						.span {{formatTime time}}

					.column
						i.icon-chef-porciones.icon
						.span {{portions}}

					.difficulty.column {{formatIcons difficulty 'tenedor'}}

	.eleven.wide.column
		.ui.twelve.column
			.rating
				p.voted= __('Voted recipe!')
				.span
					.ui.icon {{formatIcons rating 'star'}}

			a(href="/receta/{{slug}}")
				span.ui.header= ({{i}} + 1) + '#'
				h2.ui.header {{title}}

			.ui.content {{{description}}}

			| {{formatOfficial isOfficial}}