div(class="{{classes}}", data-slug="{{slug}}").row.position
  .five.wide.column
    | {{#if isVideorecipe}}
    .play
      i.icon-chef-play.icon
    | {{/if}}
    .thumbnail(style='background-image: url({{thumb.list}})')
      .row

      .row

      .row
        .ui.three.column.center.aligned.grid
          .column
            i.icon-chef-time.icon
            .span {{formatTime time}}

          .column
            i.icon-chef-porciones.icon
            .span {{portions}}

          .difficulty.column {{formatIcons difficulty 'tenedor'}}

  .eleven.wide.column
    h2.ui.header
      | {{title}}
    .plate
      .ui.button.chef.button-brick.menu-plate-remove.show-editable
        i.icon-chef-bin.icon.chef
      .span.explain.add
        != __('Plate') + ' '
        span.count= '?'
        != 'ยบ'
    .plate
      .span.explain.select= __('Select')
    .rating
      .strong= __('Rating')
      .span
        .ui.icon {{formatIcons rating 'star'}}
    .status-recipe
      | {{{stateIcon classes}}}

    .ui.content {{{description}}}