div(class="{{classes}}").row.position
	a(href="{{url}}").hover-list
	.five.wide.column
		.thumbnail(style='background-image: url({{thumb.list}})')

	.eleven.wide.column

		a(href="{{url}}")
			h2.ui.header {{title}}

		.ui.content {{{description}}}
