.query.row(class = 'state-{{state}}', data-slug = '{{slug}}', data-state = '{{state}}')
  .arrow-left
  .three.wide.column.tablet-four
    | {{#ifUserIsAdmin}}
    a.delete-qa= __('Delete')
    a.undelete-qa= __('Undelete')
    | {{/ifUserIsAdmin}}
    a.ui.item.profile(href = '{{urlOrHash}}')
      | {{#if author}}
      .ui.image.avatar(style='background-image: url({{author.thumb.avatar_large}})')
      | {{else}}
      .ui.image.avatar(style='background-image: url(/images/default_user.png)')
      | {{/if}}

  .thirteen.wide.column.tablet-eleven
    .ui.column.grid
      a.name.seven.wide.column.mobile-ten(href = '{{urlOrHash}}')
        | {{#if author}}
        span.span {{author.name}}
        | {{else}}
        span.span= __('Unknown author')
        | {{/if}}

      a.date.five.wide.column.mobile-six(href = '{{urlOrHash}}')
        span.span {{formattedDate}}

      //a.commentary.two.wide.column(href = '{{urlOrHash}}')
        span.strong= __('Coments')

    a.row(href = '{{urlOrHash}}')
      .ui.content
        .span.explain {{title}}