#query.row
  .arrow-left
  .three.wide.column.tablet-four
    a.ui.item.profile(href='{{author.url}}')
      img.ui.image.avatar(src="{{author.thumb.avatar_large}}")

  .thirteen.wide.column.tablet-eleven
    .ui.column.grid
      a.name.seven.wide.column.mobile-ten(href='{{author.url}}')
        span.span {{author.name}}

      .date.five.wide.column.mobile-six
        span.span {{formattedDate}}

      a.commentary.two.wide.column(href='{{url}}')
        span.strong= __('Coments')

    a.row(href='{{url}}')
      .ui.content
        .span.explain {{title}}