extends ../../layouts/default

include ../../mixins/header

block js

block content
  +header(data, section)

  .ui.page.grid.body
    h1= __('Forgotten your password?')
    p= __("No problem, we'll send you a link to reset it")

    include ../../components/forgotten-password

block js
  script.
    jQuery(function($) {
      $('.auth-form').find('.form-control').eq(0).focus().select();
    });
