extends ../../layouts/default

include ../../mixins/header

block content
  - var vars = {}
  - vars.image = '/images/questions_header.jpg'
  - vars.headerClasses = 'narrow'
  - vars.headerElements = 'simple'

  +header(data, section, vars)
  #pass-content
    .ui.page.grid.bg-grey
      .sixteen.wide.column
        h2.title.header.uppercase= __('Forgotten your password?')
        p.subheader.explain= __("No problem, we'll send you a link to reset it")

    .ui.page.grid.body
      .row
        .ui.form
          include ../../components/forgotten-password
block js
  script.
    jQuery(function($) {
      $('.auth-form').find('.form-control').eq(0).focus().select();
    });
