extends ../../layouts/default

include ../../mixins/header

block js

block content
  +header(data, section)

  .ui.page.grid.body

    h1= __('Reset password')

    include ../../components/reset-password

block js
  script.
    var $form = $('.auth-form');
    var $submit = $form.find('.btn');

    $submit.click( function() {
      $submit.addClass( 'disabled' );
    });

    $form.find("input[type!='hidden']").first().focus();
