extends ../../layouts/default

include ../../mixins/header

block content
  - var vars = {}
  - vars.image = '/images/questions_header.jpg'
  - vars.headerClasses = 'narrow'
  - vars.headerElements = 'simple'

  +header(data, section, vars)
  #pass-content
    .ui.page.grid.bg-grey
      .sixteen.wide.column
        h2.title.header.uppercase= __('Reset password')

    .ui.page.grid.body
      .row
        .sixteen.wide.column
          .ui.form
            include ../../components/reset-password

block js
  script.
    var $form = $('.auth-form');
    var $submit = $form.find('.btn');

    $submit.click( function() {
      $submit.addClass( 'disabled' );
    });

    $form.find("input[type!='hidden']").first().focus();