/****************
  Search bar Styles
****************/
#search-bar {
  .field {
    margin: 0;

    input[type="text"] {
      border: none;
      height: 3em;
      font-size: 20px;
      font-family: BrandonGrotesque-Regular;
      font-weight: lighter;
      border-radius: 0;
    }

    input[type="text"]::-webkit-input-placeholder {
       font-size: 20px;
       font-weight: lighter;
    }

    i.icon {
      font-size: 40px;
      opacity: 1;
      border-radius: 0;
      cursor: pointer;
      padding-top: 0.20em;

      .buttonAnimatedLeft(@chef-color-white, @chef-color-pink-bg);
    }
  }
}

/****************
  Social Bar Styles
****************/
#social {
  padding-top: 30px;
  padding-bottom: 30px;

  a {
    color: @chef-color-black;

    .icon {
      font-size: 60px;
    }
  }
}