
//- Sizes
@buttons-padding-top: 15px;
@buttons-padding-left: 30px;

@buttons-border: 4px;

.ui.menu:not(.vertical) .item > .button, .ui.button.chef {
    padding: @buttons-padding-top @buttons-padding-left;
}

.ui.button.chef, .ui.icon.input > .icon.chef {
    font-weight: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    transition: box-shadow 300ms ease-out;

    a {
        text-decoration: none;
    }

    &:hover {
        transition-timing-function: ease-out;
    }

    &.disabled {
        box-shadow: none!important;
        transition: none!important;
    }

    &.button-brick {
        .buttonAnimatedBottom(@chef-color-white, @chef-color-brick-bg);
    }

    &.button-pink-side {
        .buttonAnimatedLeft(@chef-color-white, @chef-color-pink-bg);
    }

    &.button-green {
        .buttonAnimatedBottom(@chef-color-white, @chef-color-green-bg);
    }

    &.button-blue {
        .buttonAnimatedBottom(@chef-color-white, @chef-color-blue-bg);
    }

    &.button-fb {
        .buttonAnimatedBottom(@chef-color-white, @chef-color-fb-bg);
    }

    &.button-g {
        .buttonAnimatedBottom(@chef-color-white, @chef-color-g-bg);
    }

    &.button-yellow {
        .buttonAnimatedBottom(@chef-color-white, @chef-color-yellow-bg);
    }
}

.buttonAnimatedBottom(@color, @background) {
    color: @color;
    background-color: @background !important;
    box-shadow: 0px -@buttons-border 0px darken(@background, 10%) inset;

    a {
        color: @color;
    }

    &:hover {
        box-shadow: 0px -100px 0px darken(@background, 10%) inset;
    }
}

.buttonAnimatedLeft(@color, @background) {
    color: @color;
    background-color: @background !important;
    box-shadow: @buttons-border 0px 0px darken(@background, 10%) inset;

    a {
        color: @color;
    }

    &:hover {
        box-shadow: 200px 0px 0px darken(@background, 10%) inset;
    }
}