
.ui.menu:not(.vertical) .item>.button {
    padding: 10px 30px;
}

.ui.button.chef {
    font-weight: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    padding: 10px 30px;
}

.buttonAnimatedBottom(@color, @background) {
    color: @color;
    background-color: @background;
    box-shadow: 0px -4px 0px darken(@background, 10%) inset;
    animation: buttons-out 0.3s ease-out alternate forwards;

    @keyframes buttons-in {
		0% { box-shadow: 0px -4px 0px darken(@background, 10%) inset; }
    	100% { box-shadow: 0px -100px 0px darken(@background, 10%) inset; }
	}

    @keyframes buttons-out {
    	0% { box-shadow: 0px -100px 0px darken(@background, 10%) inset; }
    	100% { box-shadow: 0px -4px 0px darken(@background, 10%) inset; }
	}

    &:hover {
    	animation: buttons-in 0.3s ease-out alternate forwards;
    }
}

.buttonAnimatedLeft(@color, @background) {
    color: @color;
    background-color: @background;
    box-shadow: 4px 0px 0px darken(@background, 10%) inset;
    animation: buttons-left-out 0.3s ease-out alternate forwards;

    @keyframes buttons-left-in {
        0% { box-shadow: 4px 0px 0px darken(@background, 10%) inset; }
        100% { box-shadow: 200px 0px 0px darken(@background, 10%) inset; }
    }

    @keyframes buttons-left-out {
        0% { box-shadow: 200px 0px 0px darken(@background, 10%) inset; }
        100% { box-shadow: 4px 0px 0px darken(@background, 10%) inset; }
    }

    &:hover {
        animation: buttons-left-in 0.3s ease-out alternate forwards;
    }
}

// .ani-left-pink {
//     .buttonAnimatedLeft();
// }