
@font-face {
	font-family: 'Pinto';
	src: url('Pinto-NO_01.eot?') format('eot'),
	     url('Pinto-NO_01.otf')  format('opentype'),
	     url('Pinto-NO_01.woff') format('woff'),
	     url('Pinto-NO_01.ttf')  format('truetype'),
	     url('Pinto-NO_01.svg#Pinto-NO_01') format('svg');
}

@font-face {
	font-family: 'BrandonGrotesque-Bold';
	src: url('BrandonGrotesque-Bold.eot?') format('eot'),
	     url('BrandonGrotesque-Bold.otf')  format('opentype'),
	     url('BrandonGrotesque-Bold.woff') format('woff'),
	     url('BrandonGrotesque-Bold.ttf')  format('truetype'),
	     url('BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
}

@font-face {
	font-family: 'BrandonGrotesque-Regular';
	src: url('BrandonGrotesque-Regular.eot?') format('eot'),
	     url('BrandonGrotesque-Regular.otf')  format('opentype'),
	     url('BrandonGrotesque-Regular.woff') format('woff'),
	     url('BrandonGrotesque-Regular.ttf')  format('truetype'),
	     url('BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
}
