/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#search-bar {
  .field {
    margin: 0;

    input[type="text"] {
      border: none;
      height: 3em;
      font-size: 20px;
      font-weight: lighter;
    }

    input[type="text"]::-webkit-input-placeholder {
       font-size: 20px;
       font-weight: lighter;
    }

    i.icon {
      font-size: 22px;
      color: white;
      background-color: @pink;
      opacity: 1;
      border-radius: 0
    }

    i.icon:hover {
      -webkit-animation: border 0.4s ease-out forwards;
      animation: border 0.4s ease-out forwards;
    }
  }
}

/****************
	Menu
****************/

#menu:hover {
	cursor: pointer;
}

#menu-box {
	position: absolute;
	right:0;
	top:0;
	text-align: center;
	width: 100%;

	ul {
		list-style: none;
	}
}