/****************
	Menu
****************/

#menu:hover {
	cursor: pointer;
}

#menu-wrapper {
  position: relative;
  z-index: 1000;

  .button {
    .button(@chef-color-green-bg);
  }

  .menu {
    box-shadow: none;
    background-color: transparent;

    :before {
      background-image: none;
    }
  }

  #menu i:before {
    font-size: 30px;
    color: @chef-color-white;
  }
}

@keyframes menubounce {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }
  25% {
  	transform: translateY(-50%);
  }
  50%, 80%, 100% {
  	transform: translateY(0%);
  }
  70% {
    transform: translateY(-30px);
  }
  90% {
    transform: translateY(-15px);
  }
}

@keyframes menuunbounce {
  0% {
    transform: translateY(0%);
  }
  100% {
  	transform: translateY(-100%);
  	visibility: hidden;
  }
}

#menu-box {
  .overlay;

  animation-name: menuunbounce;
	animation-duration: 200ms;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;

  nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    transform: translateY(-50%);

    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      height: 100%;
      position: relative;

      li {
        display: block;
        backface-visibility: hidden;
        a {
          font-size: 34px;
          font-weight: 300;
          display: block;
          color: @chef-color-white;
          transition: color 0.2s;
          text-decoration: none;
      	  min-height: 50px;

          &:hover {
          	text-decoration: underline;
          }
        }
      }
    }
  }

  background: @chef-color-green-bg;

  &.open {
		animation-name: menubounce;
		animation-duration: 400ms;
  	animation-timing-function: linear;
 		animation-fill-mode: forwards;
  }
}

@media screen and (max-height: 30.5em) {
	#menu-box {
		nav {
			height: 70%;
			font-size: 34px;
		}
		ul {
			li {
				min-height: 34px;
			}
		}
	}
}
