/****************
	Menu
****************/

@chef-menu-buttons-text: @chef-color-white;
@chef-menu-buttons-background: @chef-color-brick-bg;

@chef-menu-text: @chef-color-white;
@chef-menu-section: @chef-color-brick;
@chef-menu-text-size: 24px;

@chef-menu-background: @chef-color-brick-bg;
@chef-menu-background-hover: lighten(@chef-color-brick-bg, 5%);

//====================================

#menu-wrapper {
	position: relative;
	min-height: 52px;
	vertical-align: middle;
	z-index: 20;

	.button {
		.bottom-button(@chef-menu-buttons-text, @chef-menu-buttons-background);
	}

	.menu {
		box-shadow: none;
		background-color: transparent;

		:before {
			background-image: none;
		}
	}

	#menu {
		position: relative;
		top: 4px;

		i:before {
			font-size: 30px;
			color: @chef-menu-buttons-text;
		}

		cursor: pointer;
	}
}

@keyframes menubounce {
	0% {
		transform: translateY(-100%);
		visibility: visible;
	}
	25% {
		transform: translateY(-50%);
	}
	50%, 80% {
		transform: translateY(0%);
	}
	70% {
		transform: translateY(-30px);
	}
	90% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0%);
		visibility: visible;
	}
}

@keyframes menuunbounce {
	0% {
		transform: translateY(0%);
		visibility: visible;
	}
	100% {
		transform: translateY(-100%);
		visibility: hidden;
	}
}

#menu-box {
	.overlay;

	z-index: 999;

	visibility: hidden;
	animation-name: menuunbounce;
	animation-duration: 200ms;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	overflow: hidden;

	nav {
		box-sizing: border-box;
		text-align: center;
		position: relative;
		padding-top: 5%;
		height: 100%;
		padding-bottom: 1em;
		//transform: translateY(-50%);
		max-width: 1440px;
		margin: 0 auto;
		overflow: hidden;

		ul.menu {
			list-style: none;
			padding: 0;
			margin: 0 auto;
			display: inline-block;
			min-width: 70%;

			&.scroll {
				height: 90%;
				overflow-x: hidden;
				overflow-y: auto;

				scrollbar-face-color: @chef-menu-section;
				scrollbar-highlight-color: lighten(@chef-menu-section, 10%);
				scrollbar-shadow-color: darken(@chef-menu-section, 10%);
				scrollbar-3dlight-color: lighten(@chef-menu-section, 10%);
				scrollbar-arrow-color: @chef-menu-section;
				scrollbar-track-color: darken(@chef-menu-section, 10%);
				scrollbar-darkshadow-color: darken(@chef-menu-section, 10%);

				&::-webkit-scrollbar {
					height: 10px;
					width: 10px;
					background: darken(@chef-menu-background, 10%);
					-webkit-border-radius: 1ex;
				}

				&::-webkit-scrollbar-thumb {
					background: darken(@chef-menu-background, 20%);
					-webkit-border-radius: 1ex;
				}

				&::-webkit-scrollbar-corner {
					background: @chef-menu-section;
				}
			}

			li {
				display: block;
				backface-visibility: hidden;
				font-size: @chef-menu-text-size;

				&.main {
					font-weight: 700;
				}

				&.user {
					font-weight: 200;
				}

				&.section {
					font-weight: 700;
					color: @chef-menu-section;
				}

				a {
					display: block;
					color: @chef-menu-text;
					transition: background-color 50ms;
					text-decoration: none;
					min-height: (@chef-menu-text-size * 1.3);
					border-bottom: 1px solid transparent;

					&:hover {
						background-color: @chef-menu-background-hover;
					}

					i.icon-chef-logo {
						font-size: 8em;
					}
				}
			}
		}
	}

	background: fade(@chef-menu-background, 90%);

	&.open {
		visibility: visible;
		animation-name: menubounce;
		animation-duration: 400ms;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}

	#menu-close {
		position: absolute;
		padding: .83em .95em;
		right: 10%;
		top: 12px;

		i:before {
			font-size: 30px;
			color: @chef-menu-text;
		}

		cursor: pointer;
	}
}

@media screen and (max-height: 40em) {
	#menu-box nav ul.menu li {
		font-size: (@chef-menu-text-size * 0.8);
		a {
			min-height: (@chef-menu-text-size * 0.8);
		}
	}
}

@media screen and (max-height: 55em) {
		#menu-box nav ul.menu li a i.icon-chef-logo {
			font-size: 5em;
		}
}
@media screen and (max-height: 40em) {
		#menu-box nav ul.menu li a i.icon-chef-logo {
			font-size: 4em;
		}
}