
@profile-section-color-text: @chef-color-white;
@profile-border-color: @chef-color-white;
@profile-border-size: 4px;
@profile-editable-border-shadow: @chef-color-black;
@profile-editable-border: @chef-color-gray;
@profile-editable-border-focus: @chef-color-black;
@profile-icon-color: @chef-color-white;
@profile-font-normal:@font-size-normal;

.user-profile {
  background-color: transparent;
  background-image: url(../images/test_recipe_bg.png);
  background-size: cover;
  height: 600px;

  .section {
    color: @profile-section-color-text;
  }
}

.about {
  .bar;

  .picture-wrapper {

    .picture {
      position: relative;
      width: 160px;
      height: 160px;
      margin: 0 auto;

      .avatar {
        width: 100%;
        height: 100%;
        border: @profile-border-size solid @profile-border-color;
      }

      a {
        text-decoration: none;
        color: @profile-icon-color;
        position: absolute;
        bottom: 0;

        &.rounded {
          border-radius: 100%;
          background-color: @chef-color-gray-bg;
          padding: 10px;
          border: @profile-border-size solid white;
        }
      }
    }
  }

  .info {

  }

  .header {
    font-weight: normal;
  }
}


.tab-content {

  &#profile {

    label {
      .font-larger;
      font-weight: bold; 
    }
    .field {
      input {
        border-radius: 0px !important;
        border: 1px solid lighten(@profile-editable-border, 60%);
        box-shadow: 0px 2px 4px -2px @profile-editable-border-shadow !important;
        height: 40px;
        width: 100%;
        padding:0 0 0 10px;
        .font-large;
      }
    }
    #password{
      margin-top: 35px;
    } 
  }
}
