
@recipes-color-text: @chef-color-white;

@ingredients-color-check-enabled: @chef-color-brick-bg;
@ingredients-color-check-disabled: @chef-color-gray-bg;
@ingredients-border-check-enabled: @chef-color-black;
@ingredients-border-check-disabled: @chef-color-gray-bg;

@icons-font-size: 28px;
@recipe-font-text: @font-uppercase-size-larger;

/****************
  Recipes
****************/

#recipe, #recipe-single {
  background-color: transparent;
  background-image: url(../images/test_recipe_bg.png);
  background-size: cover;
  height: 600px;

  .ui.page.grid {
    height: 100%;

    .social {
      .font-large;
      padding-top: 50px;
      text-align: center;
      color: @recipes-color-text;
      line-height: 18px;

      a {
        color: @recipes-color-text;

        .icon {
          .font-extra-larger;
        }
      }
    }

    .img-title {
      height: 100%;
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        bottom: 20px;
        width: 97%;
      }

      .text {
        bottom: 30px;
        position: absolute;
        width: 82%;
        left: 30px;
        font-family: @pinto-fonts;
        text-transform: uppercase;

        .span {
          font-size: 56px;
          color: @recipes-color-text;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          @media(max-width: 992px) {
            .font-extra-larger;
          }
        }
      }
    }
  }
  .section {
    color: @profile-section-color-text;
  }
}
.ui.page.grid.body {

  #grid-recipes {
    display: block;
    margin: 20px auto;

    .recipe {
      display: table;
      float: left;
      border:1px solid #fff;
      background-color: #eee;
      cursor: pointer;

      span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        opacity: 0;
        font-size: @recipe-font-text;
        color: @chef-color-white;
      }
    }
    .recipe:hover{
      background-color: @chef-color-green-bg;
      fade:80%;
      transition: background-color 300ms ease-out;
      span {
        opacity: 1;
      }
    }
    .computer.only{
      .recipe{
        &.uno,
        &.dos,
        &.tres,
        &.seis,
        &.siete,
        &.ocho,
        &.diez{
          width: 19.7%;
          height: 240px;
        }
        &.cuatro,
        &.nueve{
          width: 39.6%;
          height: 240px;
        }
        &.cinco{
          width: 39.6%;
          height: 483px;
        }
      }
    }
    .tablet.only{
      .recipe{
        background-image: url('../images/recipe_view.png');
        background-position: right bottom;
        background-repeat: no-repeat;
        &.uno,
        &.dos,
        &.tres,
        &.seis,
        &.siete,
        &.ocho,
        &.diez{
          width: 33%;
          height: 240px;
        }
        &.cuatro,
        &.nueve{
          width: 66%;
          height: 240px;
        }
        &.cinco{
          width: 66%;
          height: 480px;
        }
      }
    }
    .mobile.only{
      .recipe{
        background-image: url('../images/recipe_view.png');
        background-position: right bottom;
        background-repeat: no-repeat;
        &.uno,
        &.dos,
        &.tres,
        &.seis,
        &.siete,
        &.ocho{
          width: 48.8%;
          height: 200px;
        }
        &.cuatro,
        &.nueve{
          width: 98%;
          height: 200px;
        }
        &.cinco{
          width: 98%;
          height: 400px;
        }
      }
    }
  }  
}
  
/****************
  Recipes Styles
****************/
#recipes {

  .row {
    margin-top: 0;
    padding-top: 0;

    &.loader {
      .span {
        .font-extra-large;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 0;
      }
    }
    .row.position {
      position: relative;
    }
    .list {
      .list
    }
  }
  .official{
    position: absolute;
    top: 10px;
    right: 0;
  }
  
}

/****************
  Recipe Styles
****************/

#recipe-content {

  margin-top: 10px;

  #actions {
    padding-top: 10px;
  }

  .icon {
    font-size: @icons-font-size;
  }

  .span {
    display: inline;
    font-size: 18px;
    font-weight: normal;
    line-height: 4px;
    text-transform: capitalize;
  }

  .time, .portions, .difficulty, .rating {
    .span {
      margin-left: 10px;
    }
  }

  .difficulty, .rating {
    font-size: @icons-font-size;

    .off {
      opacity: 0.3;
    }

    .on {
      color: @recipes-thumbnail-ranking-on;
    }

    .icon-chef-tenedor:before {
      width: 4px;
    }

    .icon-chef-star:before {
      width: 18px;
    }
  }

  .explain {
    margin-bottom: 20px;
  }

  #ingredients {
    margin: 20px 0;

    .ingredient {
      display: inline-block;
      width: 33%;

      &:last-child {
        width: 100%;
      }
    }
  }

  #steps {

    .step {
      .ui.header {
        display: inline;
      }
    }
  }
}
