
@icon-logo: @chef-color-black;
@separator-color: @chef-color-black;
@title-color: @chef-color-blue-bg;
@subtitle-color: @chef-color-black;
@error-indicator-color: @chef-color-brick-bg;

.signin {

	.ui.page.grid {
		.row {
			margin-top: 0;
		}
	}

	.icon-chef-logo {
		color: @icon-logo;
		text-shadow: none;
	}

	.dashed {
		border-left: 2px dashed @separator-color;
	}

	.actions {
		width: 75%;
		float: right;

		> .button {
			width: 70%;
			margin: 5px;
			text-align: left;
			position: relative;
			padding-left: 10px;

			a {
				padding-left: 10px;
			}
		}

		i.social {
			display: inline-block;
			font-size: 40px;
			vertical-align: middle;
		}
	}

	.span {
		font-size: 22px;
		text-align: center;

		&.title {
			color: @title-color;
			text-shadow: none;
			font-size: 30px;
		}

		&.subtitle {
			color: @subtitle-color;
			font-weight: lighter;
			text-transform: none;
			text-shadow: none;
		}
	}

	.explain {
		width: 75%;

		&.right {
			float: right;
		}

		&.left {
			float: left;
		}

		.span {
			font-weight: bolder;
			margin-bottom: 20px;
		}
	}

	#form {
		width: 80%;
		float: left;

		.field {
			margin: 0em 0em 2em;
		}
	}

	form {
		width: 75%;
		margin: 0 auto;

		label {
			font-size: 16px;
			text-transform: uppercase;
			font-weight: bolder;
		}

		input {
			border-radius: 0 !important;
			box-shadow: 0px 2px 4px -2px #000 !important;
			height: 45px;
		}

		.indicator {
			position: absolute;
			right: 4px;
			top: 4px;
			color: @error-indicator-color;
			font-size: 22px;

			&.hidden {
				display: none;
			}
		}

		#wrapper-show-password {
			float: right;
			position: relative;
			top: 3px;

			label {
				display: block;
				font-size: 0.875em;
				margin-left: -8px;
			}
		}

		#signup-password-label {
			float: left;
		}
	}
}

@media screen and (max-width: 1270px) {
	.social-reg {
		display: none;
	}
	.actions .social {
		font-size: 26px !important;
	}
}