
@icon-logo: @chef-color-black;
@separator-color: @chef-color-black;
@title-color: @chef-color-blue-bg;
@subtitle-color: @chef-color-black;
@error-indicator-color: @chef-color-brick-bg;

.signin {
	.icon-chef-logo {
		color: @icon-logo;
		text-shadow: none;
	}

	.actions {
		margin-top: 40px;
		border-right: 4px dotted @separator-color;

		> .button {
			width: 56%;
			margin: 5px;
			text-align: left;
			position: relative;
			padding-left: 10px;
		}

		i.social {
			display: inline-block;
			font-size: 40px;
			vertical-align: middle;
		}
	}

	.span {
		font-size: 24px;
		margin-bottom: 20px;
		text-align: center;

		&.title {
			color: @title-color;
			text-shadow: none;
			font-size: 30px;
		}

		&.subtitle {
			color: @subtitle-color;
			font-weight: lighter;
			text-transform: none;
			text-shadow: none;
		}
	}

	.explain {
		.span {
			font-weight: bolder;
		}
	}

	form {

		width: 75%;
		margin: 0 auto;

		label {
			font-size: 15px;
			text-transform: uppercase;
			font-weight: bolder;
		}

		input {
			border-radius: 0 !important;
			box-shadow: 0px 2px 4px -2px #000 !important;
		}

		.indicator {
			position: absolute;
			right: 4px;
			top: 4px;
			color: @error-indicator-color;
			font-size: 22px;

			&.hidden {
				display: none;
			}
		}

		#wrapper-show-password {
			float: right;
			position: relative;
			top: 3px;
			label {
				margin: 0em 0em 0.3em;
				display: block;
				font-size: 0.875em;
			}
		}

		#signup-password-label {
			float: left;
		}
	}
}

@media screen and (max-width: 1100px) {
	.social-reg {
		display: none;
	}
	.actions .social {
		font-size: 20px !important;
	}
}