/*******************************
            Colors
*******************************/

// Text colors
@chef-color-black: 	#2e2e2e;
@chef-color-brick: 	#6c2125;
@chef-color-gray: 	#373432;
@chef-color-white: 	#ffffff;

// Background colors
@chef-color-blue-bg: 	#349dd4;
@chef-color-brick-bg: 	#e0473d;
@chef-color-gray-bg: 	#d0d0cf;
@chef-color-green-bg: 	#6cb33f;
@chef-color-light-bg: 	#f1f0f0;
@chef-color-lighter-bg: #fafafa;
@chef-color-pink-bg: 	#f48690;
@chef-color-red-bg: 	#db322d;
@chef-color-white-bg: 	#ffffff;
@chef-color-yellow-bg: 	#fead37;

@chef-color-fb-bg: 	#3c599e;
@chef-color-g-bg: 	#dd4c38;

@chef-box-border-radius:	5px;

@chef-darken: 10%;
@chef-lighten: 25%;

@pinto-fonts: 'Pinto', 'Open Sans Condensed', sans-serif;
@brandon-fonts: 'Brandon Grotesque', 'Open Sans', sans-serif;