/****************
	Animations
****************/
@keyframes border {
    0% { box-shadow: 0px 0px 0px darken(@chef-color-pink-bg, @chef-darken) inset; }
    100% { box-shadow: 6px 0px 0px darken(@chef-color-pink-bg, @chef-darken) inset; }
}

@keyframes play {
    100% { opacity: 1 }
}

/*******************************
            Colors
*******************************/

// Text colors
@chef-color-black: 	#2e2e2e;
@chef-color-gray: 	#373432;
@chef-color-white: 	#ffffff;

// Background colors
@chef-color-blue-bg: 	#349dd4;
@chef-color-gray-bg: 	#d0d0cf;
@chef-color-green-bg: 	#6cb33f;
@chef-color-pink-bg: 	#f48690;
@chef-color-red-bg: 	#db322d;
@chef-color-white-bg: 	#ffffff;
@chef-color-yellow-bg: 	#fead37;

@chef-box-border-radius:	5px;

@chef-darken: 10%;
@chef-lighten: 25%;