/*******************************
            Colors
*******************************/

// Text colors
@chef-color-black: 	#2e2e2e;
@chef-color-gray: 	#373432;
@chef-color-white: 	#ffffff;

// Background colors
@chef-color-apple-bg: 	#4fb178;
@chef-color-gray-bg: 	#f3f3f2;
@chef-color-green-bg: 	#5ead2f;
@chef-color-pink-bg: 	#f6858f;
@chef-color-red-bg: 	#da2825;
@chef-color-white-bg: 	#ffffff;
@chef-color-yellow-bg: 	#fead2f;
