extends ../../layouts/default
include ../../mixins/header

block content
  - var vars = {}
  - vars.image = '/images/about_header.jpg'
  - vars.headerClasses = 'narrow'
  - vars.headerElements = 'with-title'
  - vars.title = __('About')

  +header(data, section, vars)

  .ui.page.grid.body
    #about-info.ui.grid.segment
      .sixteen.wide.column
        .row
          h2.ui.header= __('Presentation')
          .explain
            p Creando sabores es un sitio que conecta a aficionados de la cocina para ayudarlos a descubrir e intercambiar recetas, tips e ideas útiles de una forma fácil y práctica.   Esta comunidad ha sido creada especialmente con el fin de apoyar a la Gastronomia en Mexico. Un porcentaje de nuestras ganancias anuales seran destinadas a apoyar a diversas instituciones para impulsar el desarrollo de la gastronomía en nuestro país.  
            p Somos un equipo muy peculiar: algunos apasionados por la tecnología, otros por el diseño, y otros por el marketing pero todos compartimos la afición por la cocina, la pasión por México y las ganas de ayudar.
          img(src='/images/meal.png')

      //- #share-bio.ui.grid.segment
      //-   .corner-position.left
      //-     p.explain= __('Follow me in:')
      //-   a(href='https://www.facebook.com/creandosabores',target='_blank')
      //-     i.icon-chef-facebook.icon
      //-   a(href='http://twitter.com/creandoSabores',target='_blank')
      //-     i.icon-chef-twitter.icon
      //-   a(href='https://plus.google.com/100779621073296192613/about',target='_blank')
      //-     i.icon-chef-google.icon
      //-   a(href='https://instagram.com/creandosabores/',target='_blank')
      //-     img.instagram(src="/images/instagram2.png")
      //-   a(href='http://www.pinterest.com/creandosabores/',target='_blank')
      //-     i.icon-chef-pinterest.icon


  //- #media.ui.page.grid.body
  //-   h2.ui.header= 'Creando sabores en otros medios'
  //-   .sixteen.wide.column
  //-     .explain
  //-       p Puede estar al tanto de mis noticias, novedades y entrevistas a través de otros medios.
  //-   .ui.grid.segment
  //-     .row.tablet.computer.only
  //-       .three.tabs.tab-header
  //-         .row
  //-           .tab
  //-             a(href='#')
  //-               div.ui.button.chef.button-green
  //-                 i.icon-chef-libro.icon
  //-                 | #{__('Press')}
  //-           .tab
  //-             a(href='#')
  //-               div.ui.button.chef.button-green.active
  //-                 i.icon-chef-micro.icon
  //-                 | #{__('Radio')}
  //-           .tab
  //-             a(href='#')
  //-               div.ui.button.chef.button-green
  //-                 i.icon-chef-tv.icon
  //-                 | #{__('Television')}

  //-       .sixteen.wide.column
  //-         .explain
  //-           p Puede estar al tanto de mis noticias, novedades y entrevistas a través de otros medios.
