extends ../../layouts/default

block content
	#press.ui.grid.segment
		.ui.page.grid.head.basic
			.row.logo
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title= __('Press')

		.ui.page.grid.body
			.row
				.column
					h2.header.title Acerca de la Política de privacidad de creandosabores.com

					h4.header.title  Política de privacidad
					p.explain En creandosabores.com reconocemos la importancia de su privacidad. De todos modos, es comprensible que usted pueda estar preocupado por la información que nos proporciona o que nosotros reunimos, y la manera en que la usamos y la divulgamos. Teniendo en mente estas inquietudes, hemos desarrollado la Política de privacidad de creandosabores.com  que se describe a continuación. Esta Política de privacidad explica las prácticas de privacidad de creandosabores.com  para los visitantes de nuestro Sitio web en creandosabores.com  (el “Sitio web”). Al utilizar nuestro Sitio web, usted da su consentimiento para la obtención, uso y divulgación de su información personal según se describe en esta Política de privacidad. Esta Política de privacidad se incorpora y queda sujeta a lo estipulado en los Términos y condiciones de creandosabores.com . Nos reservamos el derecho de modificar esta Política de privacidad en cualquier momento. Si realizamos algún cambio importante a nuestra Política de privacidad, publicaremos la nueva política en el Sitio web y actualizaremos la fecha de “última actualización” que se indica arriba. Por lo tanto, lo exhortamos a revisar nuestra Política de privacidad siempre que visite nuestro Sitio web para ver si ha sido actualizada desde su última visita. En caso de que tenga alguna pregunta acerca de nuestra Política de privacidad, puede contactarnos en <a href="/">soporte@creandosabores.com</a>

					h4.header.title Tipos de información que reunimos
					ul
						li
							p.explain Información personal: La información personal es información para identificar específicamente a un individuo, como el nombre del cliente, su dirección, número telefónico, dirección electrónica, tarjeta de crédito u otro número de cuenta, e información acerca de las actividades de la persona cuando están vinculadas directamente con esa persona, como la información acerca de sus compras. La información personal también incluye información demográfica, como fecha de nacimiento, sexo, área geográfica y preferencias, cuando esta información está vinculada a otra información personal que identifica a la persona.
						li
							p.explain Informac