extends ../../layouts/default

block head
  meta(name='robots',content='noindex')

block content
  #terms.ui.grid.segment
    .ui.page.grid.head.basic
      .row.logo
        a.icon-chef-logo.icon(href="/")

      .row.section
        .title.font-larger.uppercase= __('Terms and conditions')

    .ui.page.grid.body
      .row
        .column

          p.explain Bienvenido a creandosabores.com (el “Sitio web”). Lea esta Notificación sobre los Términos y condiciones de uso (la “Notificación”) con detenimiento antes de usar el Sitio web. Al ver o usar de alguna otra forma este Sitio web, usted acepta que es mayor de 13 años de edad y acepta la política de privacidad de Creando Sabores, así como los términos y condiciones de esta Notificación.
          p.explain Nos reservamos el derecho, a nuestra entera discreción, de cambiar, modificar, añadir o eliminar partes de esta Notificación en cualquier momento. Proporcionaremos notificación de dichos cambios únicamente mediante la publicación de la notificación actualizada en nuestro Sitio web y el cambio de la fecha de “última actualización” que se indica arriba.
          p.explain Esta Notificación se aplica exclusivamente a su acceso al Sitio web, su interacción con él y su uso del mismo, y no altera en forma alguna los términos o condiciones de ningún acuerdo que usted pueda tener con creandosabores.com para productos, servicios u otros. Lo exhortamos a que revise nuestra Notificación cada vez que visite nuestro sitio para ver si ha sido actualizada desde su última visita.
          p.explain Si tiene alguna pregunta respecto al uso del Sitio web, consulte la sección de Preguntas frecuentes en nuestra página de Ayuda. El resto de las preguntas o comentarios sobre el Sitio web deben dirigirse a soporte@creandosabores.com

          h4.header.title Política de privacidad
          p.explain creandosabores.com cree firmemente en la protección de la privacidad de los usuarios. Por ello, creandosabores.com ha adoptado una Política de privacidad. Los usuarios de este Sitio web deben referirse a la Política de privacidad de creandosabores.com, disponible para su revisión aquí, antes de proporcionar cualquier información.

          h4.header.tiltle Derechos de propiedad
          ul
            li
              h5.explain I. Derechos de autor
              p.explain Todos los materiales del Sitio web, incluyendo, de manera enunciativa mas no limitativa, el logotipo de creandosabores.com, el diseño, el texto, los gráficos, otros archivos, y la selección y disposición de los mismos (en su conjunto, el “Contenido”) son Copyright © 2014 creandosabores.com TODOS LOS DERECHOS RESERVADOS o son propiedad de las filiales u otorgantes de licencia de creandosabores.com. Usted puede copiar electrónicamente e imprimir partes de este Sitio web con el único fin de usar los materiales que contiene sólo para uso personal, informativo y no comercial, siempre que mantenga intactos todos los avisos de derechos de autor o propietarios. Queda estrictamente prohibido cualquier otro uso del Contenido, incluyendo cualquier uso comercial, reproducción para efectos diferentes de los enunciados arriba, modificación, distribución, republicación, exhibición o desempeño, sin el previo permiso por escrito de creandosabores.com

            li
              h5.explain II. Marcas comerciales
              p.explain “creandosabores.com” y todas las demás marcas comerciales contenidas en este Sitio web son marcas comerciales o marcas comerciales registradas de creandosabores.com y sus licenciantes, y no podrán ser copiadas, imitadas o usadas, en su totalidad o en parte, sin previo consentimiento por escrito de creandosabores.com. Además, todos los encabezados de páginas, gráficos personalizados, iconos de botón y guiones son marcas de servicio, marcas comerciales y/o imagen comercial de creandosabores.com, y no podrán ser copiados, imitados o usados, en su totalidad o en parte, sin previo consentimiento por escrito de creandosabores.com. Todas las marcas comerciales, marcas comerciales registradas, nombres de producto y nombres o logotipos de compañías mencionados en el Sitio web son propiedad de sus respectivos propietarios.
              p.explain "creandosabores.com" puede tener otras patentes, solicitudes de patente, marcas comerciales, derechos de autor u otros derechos de propiedad intelectual que cubran la materia que se incluye en cualquiera de las páginas Web, y cualquier software que sea parte del mismo. A menos que le hayamos otorgado licencias de nuestra propiedad intelectual en esta Notificación, el hecho de que le proporcionemos tales páginas Web o cualquier software no le proporciona ninguna licencia sobre nuestra propiedad intelectual. Todos los derechos que no se otorguen expresamente en el presente quedan reservados.

          h4.header.title Hipervínculos
          p.explain Mediante este acto se le otorga un derecho limitado, no exclusivo a crear un hipervínculo hacia la página principal o página principal de recetas de este Sitio web únicamente, siempre y cuando dicho vínculo no represente a creandosabores.com o cualquiera de sus productos y servicios en una manera falsa, engañosa, despectiva o de otra forma difamatoria. Este derecho limitado podrá ser revocado en cualquier momento. No puede usar, enmarcar o utilizar técnicas de enmarcado para incorporar ninguna de las marcas comerciales, el logotipo u otra información propietaria, incluyendo las imágenes que aparecen en ese Sitio web, el contenido de ningún texto, o la disposición o diseño de ninguna página o forma contenida en alguna de las secciones del Sitio web, sin el consentimiento expreso por escrito de creandosabores.com. Excepto por lo que se indica arriba, no se le transmite ningún derecho o licencia, de forma implícita, por preclusión o de otra forma, en o conforme a ninguna patente, marca comercial, derechos de autor, o derecho propietario de creandosabores.com o algún tercero.

          h4.header.title Contenido y servicios de terceros
          p.explain creandosabores.com puede proporcionar hipervínculos a sitios tales como motores de búsqueda y contenido de terceros (el “Contenido de terceros”) como un servicio para aquellas personas que estén interesadas en esta información. creandosabores.com no monitorea ni tiene control sobre ningún Contenido de terceros. creandosabores.com no avala ni adopta ningún Contenido de terceros y no ofrece garantías respecto a su precisión o totalidad. creandosabores.com no garantiza la precisión de ninguna información contenida en, ni acepta responsabilidad alguna de actualizar o revisar, ningún Contenido de terceros. Los usuarios usan estos hipervínculos y el Contenido de terceros incluido en los mismos bajo su propio riesgo.


          h4.header.title Presentaciones
          p.explain Al presentar, divulgar u ofrecer cualquier receta, reseña, fotografía, imagen, vídeo, lista de “favoritos”, comentarios, retroalimentación, postales, sugerencias, ideas, notas, dibujos, conceptos y cualquier otra información, contenido o material, o cualquier otro elemento (cada uno, un “Elemento presentado”) a creandosabores.com, ya sea en línea o fuera de línea, y ya sea que creandosabores.com lo haya solicitado o no, por este acto usted otorga a creandosabores.com un derecho y licencia irrevocable, no exclusivo, perpetuo, mundial y libre de regalías para usar, exhibir, presentar en público, modificar, reproducir, publicar, distribuir, realizar trabajos derivados, sublicenciar y de otra forma explotar tanto a nivel comercial como no comercial sus Elementos presentados y todos los derechos de autor, secretos comerciales, marcas comerciales y otros derechos de propiedad intelectual sobre ellos, en cualquier forma o medio existente en la actualidad o desarrollado en el futuro (incluyendo, sin restricción, impresión, película o dispositivos de almacenamiento electrónico), sin compensación de ningún tipo para usted o para cualquier tercero.
          p.explain Por este acto usted manifiesta y garantiza que (a) cuenta con todos los derechos, facultades y autoridades necesarios para otorgar la licencia que se estipula en el presente para su Elemento presentado, y (b) su Elemento presentado no viola, malversa ni infringe ningún derecho de autor, secreto comercial, marca comercial u otro derecho de propiedad intelectual de ningún tercero. Usted realizará, por cuenta de creandosabores.com, cualquier otra acción (incluyendo, entre otras, la firma de declaraciones juradas y otros documentos) que pueda solicitar razonablemente creandosabores.com para efectuar, perfeccionar y confirmar las licencias otorgadas a creandosabores.com respecto a su Elemento presentado según se estipula en el presente.
          p.explain La publicación o uso de cualesquiera Elementos presentados queda a la entera discreción de creandosabores.com y creandosabores.com no tendrá obligación alguna de publicar o usar el Elemento presentado. Si su Elemento presentado se publica, usa y/o coloca en el Sitio web o se usa de otra forma por creandosabores.com, podemos incluir su nombre junto con dicha publicación, colocación o uso. Al presentar, divulgar u ofrecer un Elemento presentado, por este acto usted otorga a creandosabores.com el derecho a usar su nombre en relación con la publicación, uso o colocación de su Elemento presentado. Debe incluir su nombre completo y dirección electrónica con su Elemento presentado de manera que podamos contactarle en caso de que tengamos alguna pregunta sobre su Elemento Presentado; sin embargo, únicamente se publicará su nombre y no su dirección electrónica con su Elemento presentado.


          h4.header.title Conducta del usuario
          p.explain Este Sitio web puede incluir foros de discusión u otras áreas interactivas, incluyendo, entre otras, tableros de noticias y áreas para el almacenamiento e intercambio de recetas. Dichos foros y áreas interactivas se usarán únicamente para fines no comerciales. Usted sólo será responsable de cualquier material que usted cargue o transmita a los foros de discusión o áreas interactivas de este Sitio web. Usted está de acuerdo en no usar el Sitio web para realizar nada de lo siguiente:
          ul
            li
              p.explain 1. Cargar, publicar, enviar por correo electrónico, transmitir, distribuir o publicar de otra forma cualquier mensaje, información, texto u otro material (el “Material”) que nosotros consideremos ilegal, dañino, calumnioso, agraviante, difamatorio, obsceno, vulgar, pornográfico, indecente, lascivo, acosador, amenazante, invasivo de la privacidad o de los derechos de publicidad, abusivo, inflamatorio, enconoso, o que pueda generar alguna objeción racial, étnica o de otro tipo;

            li
              p.explain 2. Cargar o transmitir cualquier Material que pudiera constituir o alentar un delito penal, violar los derechos de cualquier parte, o que de otra manera pudiera crear una responsabilidad o violar cualquier ley local, estatal, nacional o internacional, incluyendo, de manera enunciativa mas no limitativa, los reglamentos de la Comisión de Valores y Bolsa de los Estados Unidos, cualquier regla de cualquier bolsa de valores tal como la Bolsa de Valores de Nueva York, la American Stock Exchange o el Sistema de Cotizaciones Automatizadas de la Asociación de Corredores de Valores (National Association of Securities Dealers Automated Quotation, NASDAQ);Exchange, o el NASDAQ;
            li
              p.explain 3. Cargar, enviar por correo electrónico o de otra forma poner a disposición cualquier Material que pudiera infringir cualquier patente, marca comercial, secreto comercial, derecho de autor u otro derecho de propiedad intelectual de otra parte;
            li
              p.explain 4. Hacerse pasar por cualquier persona o entidad o de alguna otra manera tergiversar su relación con una persona o entidad;
            li
              p.explain 5. Sin el permiso por escrito de creandosabores.com, distribuir, publicar o poner a disposición promociones, publicidad o peticiones de fondos, bienes o servicios no solicitadas o no autorizadas, incluyendo correo basura, correo no deseado y cartas en cadenas;
            li
              p.explain 6. Dañar a menores en cualquier forma;
            li
              p.explain 7. Cargar, publicar, enviar por correo electrónico, transmitir o de otra forma poner a disposición cualquier Material que contenga virus informáticos o cualquier otro código computacional, archivos o programas diseñados para interrumpir, destruir o limitar la funcionalidad de cualquier software o hardware de cómputo o equipo de telecomunicaciones.

          h4.header.title Limitación de responsabilidad
          p.explain EN NINGÚN CASO creandosabores.com O SUS FILIALES, DIRECTIVOS, EMPLEADOS, AGENTES O PROVEEDORES SERÁN RESPONSABLES DE CUALQUIER DAÑO DIRECTO, ESPECIAL, INCIDENTAL, INDIRECTO O CONSECUENTE, O CUALQUIER OTRO DAÑO DE CUALQUIER TIPO, INCLUYENDO, DE MANERA ENUNCIATIVA MAS NO LIMITATIVA, PÉRDIDA DE USO, PÉRDIDA DE UTILIDADES O PÉRDIDA DE DATOS, YA SEA EN UN PROCESO POR CONTRATO, AGRAVIO (INCLUYENDO, SIN RESTRICCIÓN, NEGLIGENCIA), O DE OTRA MANERA, QUE SURJA DE O ESTÉ EN ALGUNA FORMA RELACIONADO CON EL USO, O LA INCAPACIDAD DE USO, DE ESTE SITIO WEB O EL CONTENIDO INCLUIDO EN ÉL O AL CUAL SE ACCEDA A TRAVÉS DE ESTE SITIO WEB, INCLUSO SI creandosabores.com HA SIDO INFORMADO DE LA POSIBILIDAD DE DICHOS DAÑOS. Algunas jurisdicciones no permiten la limitación o exclusión de la responsabilidad por daños incidentales o perjuicios, de manera que alguna de las anteriores puede no aplicarse en su caso.

          h4.header.title Indemnización
          p.explain Usted acepta defender, indemnizar y mantener en paz y a salvo a creandosabores.com y sus filiales, directivos, consejeros, agentes, proveedores y licenciantes de y contra cualquier reclamación, daño, costos y gastos, incluyendo honorarios de abogados, que surjan de o se relacionen con su uso del Sitio web o cualquier Material o Presentación que usted proporcione, incluyendo, entre otros, cualquier reclamación de terceros de que los Materiales o Presentaciones infringen o violan los derechos o intereses de ese tercero.

          h4.header.title Remoción y Divulgación
          p.explain Nos reservamos el derecho, a nuestra entera discreción, de remover, bajar, destruir o eliminar cualquier Material y Presentación en cualquier momento y por cualquier razón, incluyendo, entre otros, Material y Presentaciones que consideremos inadecuados o que consideremos que pudieran hacernos objeto de algún tipo de responsabilidad. Podremos acceder, usar y divulgar información de transacciones acerca de su uso de nuestro Sitio web y cualquier Material y Presentaciones transmitidas por usted a través de o en relación con nuestro Sitio web en la medida que la ley lo permita, para cumplir con la ley (por ejemplo, una declaración jurada legal); iniciar, presentar, facturar y cobrar por nuestros productos y servicios; proteger nuestros derechos o propiedad o proteger a los usuarios de nuestro Sitio web contra el uso fraudulento, impropio o ilegal de nuestro Sitio web. LAS VIOLACIONES INDIRECTAS O EL INTENTO DE VIOLAR ESTA NOTIFICACIÓN O CUALQUIER POLÍTICA, LINEAMIENTO O ACUERDO RELACIONADO, Y LAS VIOLACIONES REALES O SU INTENTO POR PARTE DE TERCEROS EN SU NOMBRE, SE CONSIDERARÁN COMO VIOLACIONES A ESTE CONTRATO POR SU PARTE.

          h4.header.title Ley vigente
          p.explain Estos términos y condiciones se regirán y deberán interpretarse de conformidad con las leyes del estado de Mexicano, sin considerar los principios de opción de ley que estipulen lo contrario. Usted acepta que cualquier acción en derecho o equidad que surja de o se relacione con estos términos y condiciones se interpondrá únicamente ante los tribunales estatales o federales con domicilio en el Cuidad de Mejico,  y por este acto usted acepta y se somete de manera irrevocable e incondicional a la jurisdicción exclusiva de dichos tribunales en cualquier juicio, acción o procedimiento que surja de esta Notificación.

          h4.header.title Rescisión
          p.explain Creandosabores.com se reserva el derecho, sin notificación y a su entera discreción en cualquier momento, a rescindir su licencia para usar este Sitio web, bloquear o evitar futuros accesos y uso de este Sitio web y eliminar y descartar cualquier Material y Presentaciones.

          h4.header.title Divisibilidad
          p.explain Si cualquiera de las disposiciones de esta Notificación se considerara ilegal, nula o por cualquier razón sin fuerza ejecutoria, entonces esa disposición se considerará separable de esta Notificación y no afectará la validez y aplicabilidad del resto de las disposiciones.

          h4.header.title Reclamaciones de Derechos de autor
          p.explain De conformidad con el Título 17 del Código de los Estados Unidos, Sección 512(c)(2), las notificaciones de supuestas infracciones de los derechos de autor deben enviarse al Representante designado del Proveedor de servicio.<br>La notificación debe presentarse ante el siguiente Representante designado:<br>Proveedor de servicio: creandorecetas.com<br>Nombre del Representante designado para recibir notificación de la supuesta infracción: Javier Blanco<br>Dirección completa del Representante designado a quien se le debe enviar la notificación: Lopez de Neira 3, Oficina 212, 36202 Vigo (España)<br>Número telefónico del Representante designado: +34 886 128 886

          p.explain Dirección electrónica del Representante designado: dcma@creandosabores.com
          p.explain Para entrar en vigor, la notificación debe ser una comunicación por escrito que incluya lo siguiente:
            ul
              li
                p.explain 1. Firma física o electrónica de la persona autorizada para fungir en nombre del propietario de un derecho exclusivo que supuestamente se haya infringido;
              li
                p.explain 2. Identificación de la obra con derechos de autor que según el reclamo han sido infringidos o, si varias obras con derechos de autor en un solo sitio en línea están comprendidas en una única notificación, una lista representativa de dichas obras en el sitio;
              li
                p.explain 3. Identificación del material que según el reclamo viola o es objeto de actividades de violación y que deberá removerse o al cual el acceso deberá deshabilitarse, así como información razonablemente suficiente como para permitirnos localizar ese material;
              li
                p.explain 4. Información razonablemente suficiente como para permitirnos contactar a la parte demandante, tal como dirección, número de teléfono y, de ser posible, una dirección electrónica en la cual se pueda contactar al demandante;
              li
                p.explain 5. Una declaración de que el demandante tiene la creencia de buena fe de que el uso del material en la forma que se plantea en la demanda no está autorizado por parte del propietario de los derechos de autor, su agente o la ley;
              li
                p.explain 6. Una declaración de que la información en la notificación es precisa y, bajo pena de falso testimonio, que la parte demandante está autorizada a fungir en nombre del propietario de un derecho exclusivo que supuestamente haya sido infringido.<br>Podemos dar notificación de una reclamación de violación de los derechos de autor a nuestros usuarios mediante una notificación general en el Sitio web, correo electrónico a la dirección de correo del usuario en nuestros registros, o mediante una comunicación por escrito que se envíe por correo postal de primera clase a la dirección del usuario que conste en nuestros registros. creandosabores.com podrá, a su entera discreción, rescindir la autorización de los usuarios de su Sitio web que sean infractores reiterados.

          h4.header.title Contáctanos
          p.explain Si tienes preguntas sobre este aviso legal, las prácticas de este sitio web o tu relación con el mismo, por favor contáctanos en soporte@creandosabores.com.