.ui.four.column.center.aligned.grid
	.column
		a.ui.item(href='http://twitter.com/creandoSabores')
			.ui.icon
				i.icon-chef-twitter.icon
	.column
		a.ui.item(href='https://www.facebook.com/creandosabores')
			.ui.icon
				i.icon-chef-facebook.icon
	//-
		.column
			a.ui.item(href='http://pinterest.es')
				.ui.icon
					i.icon-chef-pinterest.icon
		.column
			a.ui.item(href='https://plus.google.com/')
				.ui.icon
					i.icon-chef-google.icon
