.social.four.tablet-seven.wide.column.tablet.computer.only
  .corner-position.left
    |#{__('Follow us on social networks')}
    .ui.five.column.center.aligned.grid
      .column
        a.ui.item(href='http://twitter.com/creandoSabores')
          .ui.icon
            i.icon-chef-twitter.icon
      .column
        a.ui.item(href='https://www.facebook.com/creandosabores')
          .ui.icon
            i.icon-chef-facebook.icon
      .column
        a.ui.item(href='http://www.pinterest.com/creandosabores/')
          .ui.icon
            i.icon-chef-pinterest.icon
      .column
        a.ui.item(href='https://plus.google.com/100779621073296192613/about')
          .ui.icon
            i.icon-chef-google.icon
      .column
        a.ui.item(href='https://instagram.com/creandosabores/',target='_blank')
          img.instagram(src="/images/instagram2.png")