
block footer
	//- FOOTER
	#footer.mini.ui.grid.segment
		.ui.page.grid
			.row
				.sixteen.wide.column
					.ui.two.column.divided.grid
						.block.column Jesús Gibaja
						.block.column
							.ui.inverted.horizontal.link.list
								a.item Contacto
								a.item Términos y condiciones
								a.item Privacidad
