
block footer
	//- FOOTER
	#footer.mini.ui.grid.segment
		.ui.page.grid
			.row
				.sixteen.wide.column
					.ui.two.column.divided.grid
						.block.column= __('Creando Sabores')
						.block.column
							.ui.inverted.horizontal.link.list
								a.item(href="/contacto")= __('Contact')
								a.item(href="/terminos")= __('Terms and conditions')
								a.item(href="/terminos")= __('Privacy')
