
block footer
	//- FOOTER
	#footer.ui.grid.segment
		.row
			.sixteen.wide.column
				.ui.three.column.divided.grid
					.column
						.ui.header Jesus Gibaja
						.ui.inverted.link.list
							a.item Biografía
							a.item Medio de comunicación

					.column
						img.ui.image(src = '../frontend/images/test_title.png')

					.column
						.ui.header Ayuda
						.ui.inverted.link.list
							a.item Contacto
							a.item Términos y condiciones
							a.item Privacidad
