#header.ui.grid.segment
	.row
		.sixteen.wide.column
			#menu-wrapper
				.ui.menu
					.right.menu
						if user
							a.ui.item.profile(href='/perfil')
								- user.avatars.local = '../frontend/images/test_user.png'
								img.ui.image.avatar(src="#{user.avatars[user.media.avatar.origin]}")

								if user.name
									strong #{user.name}
								else
									strong #{user.username}

							if user.canAccessKeystone
								.ui.item
									a.ui.button.chef.button-brick(href="/keystone") Admin
							.ui.item
								a.ui.button.chef.button-brick(href="/salir") Salir

						else
							.ui.item
								a.ui.button.chef.button-brick(href="/acceso") Entrar
							.ui.item
								a.ui.button.chef.button-brick(href="/registro") Registrarse

						#menu.ui.item
							i.icon-chef-menu
