#header.ui.grid.segment
	.row
		.sixteen.wide.column
			#menu-wrapper
				.ui.menu
					.right.menu
						if user
							a.ui.item(href='/')
								.ui.image(href = 'http://s01.s3c.es/imag/_v3/Ecoteuve/presentadores/alberto-chicote.jpg')
								| #{user.name}
							if user.canAccessKeystone
								.ui.item
									a.ui.button.chef.button-brick(href="/keystone") Admin
							.ui.item
								a.ui.button.chef.button-brick(href="/salir") Salir

						else
							.ui.item
								a.ui.button.chef.button-brick(href="/acceso") Entrar
							.ui.item
								a.ui.button.chef.button-brick(href="/registro") Registrarse

						#menu.ui.item
							i.icon-chef-menu
