#header.ui.grid.segment
	.row
		.sixteen.wide.column
			#menu-wrapper
				.ui.menu
					.right.menu
						if user
							a.ui.item(href='/')
								if user.media.avatar.url
									img.ui.image.avatar(src="#{user.media.avatar.url}")
								else
									if user.media.social
										img.ui.image.avatar(src="#{user.media.social}")
								if user.name
									| #{user.name}
								else
									| #{user.username}
							if user.canAccessKeystone
								.ui.item
									a.ui.button.chef.button-brick(href="/keystone") Admin
							.ui.item
								a.ui.button.chef.button-brick(href="/salir") Salir

						else
							.ui.item
								a.ui.button.chef.button-brick(href="/acceso") Entrar
							.ui.item
								a.ui.button.chef.button-brick(href="/registro") Registrarse

						#menu.ui.item
							i.icon-chef-menu
