include ../mixins/editable
include ../mixins/user-header

.six.tablet-eight.mobile-eleven.wide.column
	+editable(editable, own)

#menu-wrapper.ten.tablet-eight.mobile-five.wide.column
	+user-header(user)