.ingredients-manage.column
  span.hide-editable.ingredient
    .icon-chef-cesta.checks.all
    span.span= __('Select all')

  span.show-editable
    .ui.button.chef.button-brick
      a= __('Add ingredient')

  span.add-ingredient
    .ingredient.column
      .icon-chef-cesta.checks
      span.editable-container
        .set-editable.one-line(placeholder=__('Ingredient'), data-length='40')