.form-signin
	form(action='acceso', method='post', novalidate)
		.ui.form
			#email.field(class=(errors.fields.email ? "error-here" : ""))
				label(for='login-email') Correo electrónico
				.ui.left.labeled.input
					input(id='login-email', type='email', name='login_email', value='#{form.login_email||""}', placeholder='Correo electrónico')
					//- .indicator.hidden
						.icon-chef-error
				.error-message= (errors.fields.email ? errors.fields.email : "Correo electrónico incorrecto o en uso.")

			#password.field(class=(errors.fields.password ? "error-here" : ""))
				label(for='login-password') Contraseña
				#wrapper-password.ui.left.labeled.input
					input(id='login-password', type='password', name='login_password')
					//- .indicator.hidden
						.icon-chef-error

				.error-message= (errors.fields.password ? errors.fields.password : "Mínimo 8 caracteres.")

			input(type='hidden', name='action', value='login')

			button.ui.button.chef.button-blue(type='submit') Acceder