#menu-box
  nav(role="navigation")
    .ui.page.grid
      #menu-close.ui.item
        i.icon-chef-menuquit

    //- navLinks Array in ./middlewares/initLocals.js
    ul.menu.scroll
      li.item.main(class=(section == 'home' ? 'active' : null))
        a.home(href='/',rel='home')
          i.icon-chef-logo
      if user
        li.item.section
          span.title= __('My recipe book')
        each link in navLinksPrivate
          li.item.user(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label

      each link in navLinks
        li.item.main(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label

      if user
        if user.canAccessKeystone
          li.item.main: a(href="/keystone")= __('Admin panel')

        li.item.main: a(href="/salir")= __('To logout')