
#search-bar.ui.grid.segment
	.row
		.ui.form
			form.field
				.ui.icon.input
					input#search-query(type='text', placeholder="#{__('Search terms')}")
					button#search-button.icon-chef-lupa.icon.chef.button-pink-side