.ui.four.column.center.aligned.grid
	.column
		a.ui.item(href='http://twitter.com')
			.ui.icon
				i.icon-chef-twitter.icon
	.column
		a.ui.item(href='http://youtube.es')
			.ui.icon
				i.icon-chef-google.icon
	.column
		a.ui.item(href='http://facebook.com')
			.ui.icon
				i.icon-chef-facebook.icon
	.column
		a.ui.item(href='http://pinterest.es')
			.ui.icon
				i.icon-chef-pinterest.icon