.buttons-social
	.ui.button.chef.button-fb
		i.social.icon-chef-facebook
		a(href='/authentication/facebook')
			span.social-reg Registro con
			|#{' '}Facebook

	.ui.button.chef.button-g
		i.social.icon-chef-google
		a(href='')
			span.social-reg Registro con
			|#{' '}Google