.buttons-social
	- var suffix = locals.next ? '?next=' + locals.next : ''
	.ui.button.chef.button-fb
		i.social.icon-chef-facebook
		a(href='/authentication/facebook' + suffix)
			span.social-reg= __('Access with')
			|#{' '}Facebook

	.ui.button.chef.button-g
		i.social.icon-chef-google
		a(href='/authentication/google' + suffix)
			span.social-reg= __('Access with')
			|#{' '}Google