.buttons-social
  - var suffix = locals.next ? '?next=' + locals.next : ''
  a.ui.button.chef.button-fb(href='/authentication/facebook' + suffix)
    i.social.icon-chef-facebook
    span.social-reg= __('Access with')
    |#{' '}Facebook

  a.ui.button.chef.button-g(href='/authentication/google' + suffix)
    i.social.icon-chef-google
    span.social-reg= __('Access with')
    |#{' '}Google