
#social.ui.grid.segment
	.row
		.five.wide.column
		.six.wide.column
			.ui.five.column.center.aligned.grid
				.column
					a.ui.item(href='http://facebook.com')
						.ui.icon
							i.facebook.big.icon
				.column
					a.ui.item(href='http://twitter.com')
						.ui.icon
							i.twitter.big.icon
				.column
					a.ui.item(href='http://plus.google.es')
						.ui.icon
							i.google.plus.big.icon
				.column
					a.ui.item(href='http://youtube.es')
						.ui.icon
							i.youtube.big.icon
				.column
					a.ui.item(href='http://pinterest.es')
						.ui.icon
							i.pinterest.big.icon