
#social.ui.grid.segment
  a(href='https://www.facebook.com/creandosabores',target='_blank')
    i.icon-chef-facebook.icon
  a(href='http://twitter.com/creandoSabores',target='_blank')
    i.icon-chef-twitter.icon
  a(href='https://plus.google.com/100779621073296192613/about',target='_blank')
    i.icon-chef-google.icon
  //- a(href='http://youtube.com',target='_blank')
  //-   i.icon-chef-youtube.icon
  a(href='http://www.pinterest.com/creandosabores/',target='_blank')
    i.icon-chef-pinterest.icon