
#social.ui.grid.segment
	a(href='http://facebook.com')
		i.icon-chef-facebook.icon
	a(href='http://twitter.com')
		i.icon-chef-twitter.icon
	a(href='http://plus.google.es')
		i.icon-chef-google.icon
	a(href='http://youtube.es')
		i.icon-chef-youtube.icon
	a(href='http://pinterest.es')
		i.icon-chef-pinterest.icon