
#social.ui.grid.segment
	.row
		.five.wide.column
		.six.wide.column
			.ui.five.column.center.aligned.grid
				.column
					a.ui.item(href='http://facebook.com')
						.ui.icon
							i.icon-chef-facebook.huge.icon
				.column
					a.ui.item(href='http://twitter.com')
						.ui.icon
							i.icon-chef-twitter.huge.icon
				.column
					a.ui.item(href='http://plus.google.es')
						.ui.icon
							i.icon-chef-google.huge.icon
				.column
					a.ui.item(href='http://youtube.es')
						.ui.icon
							i.icon-chef-youtube.huge.icon
				.column
					a.ui.item(href='http://pinterest.es')
						.ui.icon
							i.icon-chef-pinterest.huge.icon