
#social.ui.grid.segment
	a(href='https://www.facebook.com/creandosabores',target='_blank')
		i.icon-chef-facebook.icon
	a(href='http://twitter.com/creandoSabores',target='_blank')
		i.icon-chef-twitter.icon
	//--
		a(href='http://plus.google.com',target='_blank')
			i.icon-chef-google.icon
		a(href='http://youtube.com',target='_blank')
			i.icon-chef-youtube.icon
		a(href='http://pinterest.com',target='_blank')
			i.icon-chef-pinterest.icon