.row.section.title(data-tutorial-message=__("Tutorial Recipe Title"))
  .editable-container
    .shadow.set-editable(placeholder=__('Write here recipe name'), data-length="40", data-tutorial-complete="editableTypedText", id= section + "-title", class=titleClasses)= title